<% const d = jsonData; -%>
<div class="l-content is-light-blue">
	<div class="c-simple-head is-light">
		<h1 class="c-simple-head-title">採用お問い合わせフォーム</h1>
		<p class="c-simple-head-en">Contact Us</p>
	</div>
	<div class="p-require">
		<p class="p-require-lead">
			新卒採用・中途採用ついてお問い合わせは、<br>
			下記入力フォームに必要事項をご入力の上「送信」ボタンを押してください。<br>
			あらためて担当者よりご連絡を差し上げます。<br>
			なお、お問い合わせの内容によりましては、お答えしかねる場合がございますので、予めご了承ください。
		</p>
		<form class="p-require-content" action="mail.php" method="POST">
			<input type="hidden" name="csrf_token" value="<?php echo $csrf_token; ?>">
			<div class="p-require-input">
				<div class="c-input">
					<div class="c-input-block">
						<span class="c-input-head">
							<span class="c-input-name">お問い合わせ項目</span>
							<span class="c-input-label">必須</span>
						</span>
						<div class="c-input-content">
							<span class="c-input-content-confirm">
                                <?php if(isset($post['recruit_matter'])) echo htmlspecialchars($post['recruit_matter']); ?>
                            </span>
						</div>
					</div>
					<div class="c-input-block">
						<span class="c-input-head">
							<span class="c-input-name">お問い合わせ拠点</span>
							<span class="c-input-label">必須</span>
						</span>
						<div class="c-input-content">
							<span class="c-input-content-confirm">
                                <?php if(isset($post['recruit_base'])) echo htmlspecialchars($post['recruit_base']); ?>
                            </span>
						</div>
					</div>

					<div class="c-input-block">
						<label for="form-name" class="c-input-head">
							<span class="c-input-name">お名前</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-name"
								type="text"
								name="name"
								autocomplete="name"
								aria-required="true"
								required
								readonly="readonly"
								value="<?php if(isset($post['name'])) echo htmlspecialchars($post['name']); ?>" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-tel" class="c-input-head">
							<span class="c-input-name">お電話番号</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-tel"
								type="tel"
								name="tel"
								autocomplete="tel"
								aria-required="true"
								required
								readonly="readonly"
								value="<?php if(isset($post['tel'])) echo htmlspecialchars($post['tel']); ?>" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-email" class="c-input-head">
							<span class="c-input-name">メールアドレス</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
							id="form-email"
							type="email"
							name="email"
							autocomplete="email"
							aria-required="true"
							required
							readonly="readonly"
							value="<?php if(isset($post['email'])) echo htmlspecialchars($post['email']); ?>" />
						</div>
					</div>
					<div class="c-input-block">
						<div class="c-input-head">
							<span class="c-input-name">ご住所</span>
							<span class="c-input-label">必須</span>
						</div>
						<div class="c-input-content">
							<div class="c-input-post">
								<span class="c-input-post-mark">〒</span>
								<span class="c-input-post-number">
									<input type="text" 
										class="c-input-text" 
										name="postal-code" 
										aria-required="true"
										required
										readonly="readonly"
										value="<?php if(isset($post['postal_code'])) echo htmlspecialchars($post['postal_code']); ?>" />
								</span>
							</div>
							<div class="c-input-address">
								<input class="c-input-text"
									type="text"
									name="address-level1"
									aria-required="true"
									required
									autocomplete="address-level1"
									readonly="readonly"
									value="<?php if(isset($post['prefecture'])) echo htmlspecialchars($post['prefecture']); ?><?php if(isset($post['address_level1'])) echo htmlspecialchars($post['address_level1']); ?>"  />
							</div>
							<div class="c-input-address">
								<input class="c-input-text"
									type="text"
									name="address-line2"
									aria-required="true"
									required
									autocomplete="address-line2"
									readonly="readonly"
									value="<?php if(isset($post['address_line2'])) echo htmlspecialchars($post['address_line2']); ?>" />
							</div>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-require" class="c-input-head">
							<span class="c-input-name">お問い合わせ内容</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<span id="form-require" class="c-input-content-confirm is-small">
                                <?php if(isset($post['content'])) echo htmlspecialchars($post['content']); ?>
                            </span>
						</div>
					</div>
				</div>
			</div>

			<div class="p-require-submit">
				<button type="button" onClick="javascript:history.back(-1)" class="c-secondary-button is-white">修　正</button>
				<button type="submit" class="c-secondary-button">送　信</button>
			</div>
		</form>
	</div>
</div>