<?php
$get['recruit_matter'] = '';
$get['recruit_base'] = '';
if(isset($_GET['recruit_matter'])) $get['recruit_matter'] =  $_GET['recruit_matter'];
if(isset($_GET['recruit_base'])) $get['recruit_base'] =  $_GET['recruit_base'];
?>
<%
	const d = jsonData;
	const prefectures = ["北海道","青森県","岩手県","宮城県","秋田県","山形県","福島県",
	"茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県",
	"新潟県","富山県","石川県","福井県","山梨県","長野県","岐阜県",
	"静岡県","愛知県","三重県","滋賀県","京都府","大阪府","兵庫県",
	"奈良県","和歌山県","鳥取県","島根県","岡山県","広島県","山口県",
	"徳島県","香川県","愛媛県","高知県","福岡県","佐賀県","長崎県",
	"熊本県","大分県","宮崎県","鹿児島県","沖縄県"]
-%>
<div class="l-content is-light-blue">
	<div class="c-simple-head is-light">
		<h1 class="c-simple-head-title">採用お問い合わせフォーム</h1>
		<p class="c-simple-head-en">Contact Us</p>
	</div>
	<div class="p-require">
		<p class="p-require-lead">
			新卒採用・中途採用ついてお問い合わせは、<br>
			下記入力フォームに必要事項をご入力の上「送信」ボタンを押してください。<br>
			あらためて担当者よりご連絡を差し上げます。<br>
			なお、お問い合わせの内容によりましては、お答えしかねる場合がございますので、予めご了承ください。
		</p>
		<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
		<form class="p-require-content h-adr" method="post" action="confirm.php">
			<input type="hidden" name="csrf_token" value="<?php echo $csrf_token; ?>">
			<span class="p-country-name" style="display:none;">Japan</span>
			<div class="p-require-input">
				<div class="c-input">
					<div class="c-input-block">
						<span class="c-input-head">
							<span class="c-input-name">お問い合わせ項目</span>
							<span class="c-input-label">必須</span>
						</span>
						<div class="c-input-content">
							<div class="c-input-radio">
								<div class="c-input-radio-item">
									<input type="radio" name="recruit_matter" id="form-matter3" value="新卒採用" class="c-input-radio-input" <?php if((isset($post['recruit_matter']) && $post['recruit_matter'] == '新卒採用' ) || $get['recruit_matter'] == '新卒採用' ) echo 'checked'; ?>>
									<label for="form-matter3" class="c-input-radio-label">新卒採用</label>
								</div>
								<div class="c-input-radio-item">
									<input type="radio" name="recruit_matter" id="form-matter4" value="中途採用" class="c-input-radio-input" <?php if((isset($post['recruit_matter']) && $post['recruit_matter'] == '新卒採用' ) || $get['recruit_matter'] == '中途採用' ) echo 'checked'; ?>>
									<label for="form-matter4" class="c-input-radio-label">中途採用</label>
								</div>
							</div>
                            <?php if(isset($res['err']['recruit_matter'])): ?>
                            <?php echo '<p class="c-input-error">'.$res['err']['recruit_matter'][0].'</p>'; ?>
                            <?php endif ?>
						</div>
					</div>
					<div class="c-input-block">
						<span class="c-input-head">
							<span class="c-input-name">お問い合わせ拠点</span>
							<span class="c-input-label">必須</span>
						</span>
						<div class="c-input-content">
							<div class="c-input-radio">
								<div class="c-input-radio-item">
									<input type="radio" name="recruit_base" id="form-matter5" value="本社" class="c-input-radio-input" <?php if((isset($post['recruit_base']) && $post['recruit_base'] == '本社' ) || $get['recruit_base'] == '本社' ) echo 'checked'; ?>>
									<label for="form-matter5" class="c-input-radio-label">本社</label>
								</div>
								<div class="c-input-radio-item">
									<input type="radio" name="recruit_base" id="form-matter6" value="東北支店" class="c-input-radio-input" <?php if((isset($post['recruit_base']) && $post['recruit_base'] == '東北支店' ) || $get['recruit_base'] == '東北支店' ) echo 'checked'; ?>>
									<label for="form-matter6" class="c-input-radio-label">東北支店</label>
								</div>
								<div class="c-input-radio-item">
									<input type="radio" name="recruit_base" id="form-matter7" value="茨城工場" class="c-input-radio-input" <?php if((isset($post['recruit_base']) && $post['recruit_base'] == '東北支店' ) || $get['recruit_base'] == '東北支店' ) echo 'checked'; ?>>
									<label for="form-matter7" class="c-input-radio-label">茨城工場</label>
								</div>
							</div>
                            <?php if(isset($res['err']['recruit_base'])): ?>
                            <?php echo '<p class="c-input-error">'.$res['err']['recruit_base'][0].'</p>'; ?>
                            <?php endif ?>
						</div>
					</div>

					<div class="c-input-block">
						<label for="form-name" class="c-input-head">
							<span class="c-input-name">お名前</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-name"
								type="text"
								name="name"
								autocomplete="name"
								aria-required="true"
								value="<?php if(isset($post['name'])) echo $post['name']; ?>"
								required />
                            <?php if(isset($res['err']['name'])): ?>
                            <?php echo '<p class="c-input-error">'.$res['err']['name'][0].'</p>'; ?>
                            <?php endif ?>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-tel" class="c-input-head">
							<span class="c-input-name">お電話番号</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-tel"
								type="tel"
								name="tel"
								autocomplete="tel"
								aria-required="true"
								value="<?php if(isset($post['tel'])) echo $post['tel']; ?>"
								required />
                            <?php if(isset($res['err']['tel'])): ?>
                            <?php echo '<p class="c-input-error">'.$res['err']['tel'][0].'</p>'; ?>
                            <?php endif ?>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-email" class="c-input-head">
							<span class="c-input-name">メールアドレス</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
							id="form-email"
							type="email"
							name="email"
							autocomplete="email"
							aria-required="true"
							value="<?php if(isset($post['email'])) echo $post['email']; ?>"
							required />
                            <?php if(isset($res['err']['email'])): ?>
                            <?php echo '<p class="c-input-error">'.$res['err']['email'][0].'</p>'; ?>
                            <?php endif ?>
						</div>
					</div>
					<div class="c-input-block">
						<div class="c-input-head">
							<span class="c-input-name">ご住所</span>
							<span class="c-input-label">必須</span>
						</div>
						<div class="c-input-content">
							<div class="c-input-post">
								<span class="c-input-post-mark">〒</span>
								<span class="c-input-post-number">
									<input type="text"
										class="c-input-text p-postal-code"
										name="postal_code"
										autocomplete="postal-code"
										size="8"
										maxlength="8"
										placeholder="例）110-0005"
										aria-required="true"
										value="<?php if(isset($post['postal_code'])) echo $post['postal_code']; ?>"
										required  />
								</span>
								<span class="c-input-post-select">
									<select name="prefecture" class="c-input-select p-region">
										<% for (let i = 0; i < prefectures.length; i++) { %>
										<option value="<%= prefectures[i] %>" <?php if(isset($post['prefecture']) && $post['prefecture'] == '<%= prefectures[i] %>' ) echo 'selected'; ?>><%= prefectures[i] %></option>
										<% } %>
									</select>
								</span>
							</div>
							<div class="c-input-address">
								<input class="c-input-text p-region p-locality p-street-address"
									type="text"
									name="address_level1"
									autocomplete="address-level1"
									placeholder="例）東京都台東区上野５-１５-１４"
									aria-required="true"
									value="<?php if(isset($post['address_level1'])) echo $post['address_level1']; ?>"
									required  />
							</div>
							<div class="c-input-address">
								<input class="c-input-text p-extended-address"
									type="text"
									name="address_line2"
									autocomplete="address-line2"
									placeholder="例）ミヤギビル1F"
									aria-required="true"
									value="<?php if(isset($post['address_line2'])) echo $post['address_line2']; ?>"
									  />
							</div>
                            <?php if(isset($res['err']['postal_code'])): ?>
                            <?php echo '<p class="c-input-error">'.$res['err']['postal_code'][0].'</p>'; ?>
                            <?php endif ?>
                            <?php if(isset($res['err']['prefecture'])): ?>
                            <?php echo '<p class="c-input-error">'.$res['err']['prefecture'][0].'</p>'; ?>
                            <?php endif ?>
                            <?php if(isset($res['err']['address_level1'])): ?>
                            <?php echo '<p class="c-input-error">'.$res['err']['address_level1'][0].'</p>'; ?>
                            <?php endif ?>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-require" class="c-input-head">
							<span class="c-input-name">お問い合わせ内容</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<textarea class="c-input-area"
										id="form-require"
										name="content"
										aria-multiline="true"
										aria-required="true"
										required>
								<?php if(isset($post['content'])) echo $post['content']; ?>
							</textarea>
						</div>
					</div>
				</div>
			</div>

			<p class="p-require-lead">
				当社プライバシーポリシーに同意頂ける場合は<br>「同意する」にチェックを付け「送信」ボタンをクリックしてください。
			</p>
			<div class="p-require-check">
				<div class="c-input-check">
					<span class="c-input-check-line">
						<input type="checkbox" name="agree" id="form-agree" class="c-input-check-input js-check-button" data-target="js-require-confirm">
					</span>
					<label for="form-agree" class="c-input-check-label">同意する</label>
				</div>
			</div>

			<div class="p-require-submit">
				<button type="submit" class="c-secondary-button js-require-confirm" disabled>送　信</button>
			</div>
		</form>
	</div>
</div>