<% var d = jsonData; -%>
<section class="l-content is-no-pb">
  <div class="c-visual-head is-type3">
    <div class="c-box-title">
      <h1 class="c-box-title-text">施工実績<span class="c-box-title-text-small">Construction</span></h1>
      <span class="c-box-title-bottom is-medium">ダクト部門</span>
    </div>
  </div>
  <div class="c-common-bg is-works">
    <div class="p-business c-common-bg-inner">
      <section class="p-business-works is-no-images">
        <div class="p-business-works-title">
          <h2 class="p-business-works-title-text">主な施工実績</h2>
        </div>
        <p class="p-business-works-head">
          <img class="p-business-works-head-image" src="<%- d.path %>assets/images/business/business-duct-works1.jpg" alt="">
        </p>
        <div class="p-business-works-list">
          <section class="c-roll-list">
            <h2 class="c-roll-list-title">
              <span class="c-roll-list-title-text">実績一覧</span>
            </h2>
            <div class="c-roll-list-block">
              <div class="c-roll-list-inner">
                <ul class="c-roll-list-content">
                  <li class="c-roll-list-content-item">NHK 新仙台放送会館　新築工事</li>
                  <li class="c-roll-list-content-item">仙台医療センター　新築工事</li>
                  <li class="c-roll-list-content-item">イオンモール利府新棟　新築工事大崎市民病院本院　新築工事</li>
                  <li class="c-roll-list-content-item">大崎市民病院本院　新築工事</li>
                  <li class="c-roll-list-content-item">仙台トラストタワー　新築工事</li>
                  <li class="c-roll-list-content-item">学校法人仙台育英学園　宮城野校舎　改築工事</li>
                  <li class="c-roll-list-content-item">地下鉄東西線連坊駅　新築工事</li>
                  <li class="c-roll-list-content-item">イケア仙台　新築工事</li>
                  <li class="c-roll-list-content-item">ららぽーと富士見　新築工事</li>
                  <li class="c-roll-list-content-item">新仙台火力発電所　第３号系列　新築工事</li>
                  <li class="c-roll-list-content-item">スタンレー宮城製作所　新築工事</li>
                  <li class="c-roll-list-content-item">ヨドバシカメラ仙台　第２ビル　新築工事</li>
                  <li class="c-roll-list-content-item">東北大学（星稜）総合研究棟（歯学系）新築工事</li>
                  <li class="c-roll-list-content-item">東北大学（星稜）中央診療棟　新築工事</li>
                  <li class="c-roll-list-content-item">東北大学メディカルメガバンク　新築工事</li>
                  <li class="c-roll-list-content-item">地下鉄東西線　荒井車庫　新築工事</li>
                  <li class="c-roll-list-content-item">ＰＥＶＥ　第３、第４、第５、第６工場　新築工事</li>
                  <li class="c-roll-list-content-item">エスパル　仙台店東館　新築工事</li>
                  <li class="c-roll-list-content-item">石巻赤十字病院　増築工事</li>
                  <li class="c-roll-list-content-item">気仙沼市立新病院　新築工事</li>
                  <li class="c-roll-list-content-item">創価学会　東北文化会館　新築工事</li>
                  <li class="c-roll-list-content-item">東北大学(青葉山３)アカデミックサイエンスコモンズ　新築工事</li>
                  <li class="c-roll-list-content-item">福島県相馬市　新庁舎　新築工事</li>
                  <li class="c-roll-list-content-item">仙台オープン病院　救急センター棟　新築工事</li>
                  <li class="c-roll-list-content-item">東北医科薬科大学　新築工事</li>
                  <li class="c-roll-list-content-item">東和薬品山形工場　新築工事</li>
                  <li class="c-roll-list-content-item">南三陸学校給食センター　新築工事</li>
                  <li class="c-roll-list-content-item">東京エレクトロン宮城　新築工事</li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </section>

    </div>
  </div>
</section>