<% var d = jsonData; -%>
<section class="l-content is-no-pb">
  <div class="c-visual-head is-type3">
    <div class="c-box-title">
      <h1 class="c-box-title-text">ダクト部門</h1>
    </div>
  </div>
  <div class="p-business">
    <div class="p-business-index">
      <div class="c-lead-block">
        <h2 class="c-lead-block-headline is-black">快適空間の給気と排気を支える「建物の呼吸器」</h2>
        <p class="c-lead-block-text">空気の通り道であるダクトには、大きく空調ダクト・換気ダクト・排煙ダクトの３つがあり、快適な空間を保つために「必要な空気を吸い込み」「不要な空気を吐き出す」という、呼吸器と同じような役割を担っています。オフィスビルや商業施設、飲食店や工場などあらゆる建物でダクトは不可欠な存在です。<br>
        サンエス工業東北支店はダクトの製造と建築現場でのダクト工事を中心に展開しており、ダクト製造は自社工場で行っています。ダクトは設置場所によって最適な形状や素材、加工方法が異なりますので自社工場で製造することによって、柔軟な対応が可能になります。各スタッフはダクトのスペシャリストとして、国家資格を積極的に取得するなど工作機械の操作や板金加工のスキルを日々研鑽しながら、培った技術力とスピードを生かした高品質の製品づくりを目指しています。また、建設現場での施工工事では高いチーム力と現場管理者の管理能力によって、多数の現場に貢献しています。</p>
      </div>
    </div>

    <div class="c-business-nav is-type3">
      <div class="c-business-nav-inner">
        <a href="./business.html" class="c-box-title is-link is-type2 is-nav">
          <h2 class="c-box-title-text">業務紹介</h2>
          <span class="c-box-title-bottom">Business Introduction</span>
        </a>
        <a href="./construction.html" class="c-box-title is-link is-type2 is-nav">
          <h2 class="c-box-title-text">施工実績</h2>
          <span class="c-box-title-bottom">Construction</span>
        </a>
      </div>
    </div>
  </div>
</section>