<% var d = jsonData; -%>
<section class="l-content is-no-pb">
  <div class="c-visual-head is-type3">
    <div class="c-box-title">
      <h1 class="c-box-title-text">消音部門</h1>
    </div>
  </div>
  <div class="p-business">
    <div class="p-business-index">
      <div class="c-lead-block">
        <h2 class="c-lead-block-headline">
          「建物の呼吸器」であるダクトは、<br class="pc-view">あらゆる建築物の給気と排気を支えています
        </h2>
        <p class="c-lead-block-text">
          サンエス工業東北支店はダクトの製作と建築現場でのダクト工事を中心に展開しており、自社工場でダクトを製造しています。空気の通り道であるダクトには、大きく空調ダクト、換気ダクト、排煙ダクトの３種があり、それぞれの役割があります。オフィスビルや商業施設、飲食店や工場などあらゆる建物でダクトは給排気に不可欠な「呼吸器」のような存在であり、安全で快適な空間を支えています。<br>
          設置場所によって最適な形状や素材、加工方法が異なり、機械加工で製作した材料を設計図通りに微調整しながら仕上げるには人の手による作業も欠かせません。スタッフはダクトのスペシャリストとして、工作機械の操作や板金加工などのスキルを磨き、建築板金技能士等の国家資格も積極的に取得しています。培った技術力とスピードに加え、チーム力や管理能力が高く評価されています。
        </p>
      </div>
    </div>

    <div class="c-business-nav is-type3">
      <div class="c-business-nav-inner">
        <a href="./products.html" class="c-box-title is-link is-type2 is-nav">
          <h2 class="c-box-title-text">製品紹介</h2>
          <span class="c-box-title-bottom">Product Introduction</span>
        </a>
        <a href="./products.html" class="c-box-title is-link is-type2 is-nav">
          <h2 class="c-box-title-text">導入実績</h2>
          <span class="c-box-title-bottom">Performance</span>
        </a>
      </div>
    </div>
  </div>
</section>