<% var d = jsonData; -%>
<section class="l-content is-no-pb">
  <div class="c-visual-head is-type1">
    <div class="c-box-title">
      <h1 class="c-box-title-text">製品紹介<span class="c-box-title-text-small">Product Introduction</span></h1>
      <span class="c-box-title-bottom is-medium">ダクト部門</span>
    </div>
  </div>
  <div class="c-common-bg">
    <div class="p-business c-common-bg-inner">
      <section class="p-business-products">
        <div class="c-lead-block">
          <h2 class="c-lead-block-headline">
            消音機器はその都度、消音計算書に基づいて<br>用途に応じた形状で設計を行います。
          </h2>
        </div>
        <div class="p-business-products-detail">
          <article class="c-product-detail">
            <div class="c-product-detail-content">
              <h3 class="c-product-detail-title">設計</h3>
              <p class="c-product-detail-text">膨張型マフラーのため空気抵抗が少なく、最も消音性能が求められる低周波数帯域での減衰量を大きくできます。消音計算を行って大きさと長さを決定します。</p>
            </div>
            <div class="c-product-detail-images">
              <div class="c-product-detail-image">
                <img src="<%- d.path %>assets/images/business/business-duct-product1.jpg" alt="設計" width="345" height="auto">
              </div>
            </div>
          </article>
          <article class="c-product-detail">
            <div class="c-product-detail-content">
              <h3 class="c-product-detail-title">ダクト製造</h3>
              <p class="c-product-detail-text">ダクト工事だけでなく、自社工場でダクトの製作を行っていることがサンエス工業の強みです。現場で取付作業を行っている社員も含めて全員、ダクト製作のスキルがありますので、納期などの要望に対しても柔軟な対応が可能です。ミスや事故を防ぐための情報共有も徹底しています。</p>
            </div>
            <div class="c-product-detail-images">
              <div class="c-product-detail-image">
                <img src="<%- d.path %>assets/images/business/business-duct-product2.jpg" alt="ダクト製造" width="345" height="270">
              </div>
            </div>
          </article>
          <article class="c-product-detail">
            <div class="c-product-detail-content">
              <h3 class="c-product-detail-title">屋内ダクト吊込工事</h3>
              <p class="c-product-detail-text">ダクトには建物によってさまざまな種類があり、求められる条件も現場ごとに異なります。とくに病院や研究所などの施設では、部屋の数も多く特殊な排気を伴うことが多いため、施工に細心の注意と技術が必要です。サンエス工業には、数多くの現場で蓄積されたノウハウがあります。</p>
            </div>
            <div class="c-product-detail-images">
              <div class="c-product-detail-image">
                <img src="<%- d.path %>assets/images/business/business-duct-product3.jpg" alt="屋内ダクト吊込工事" width="345" height="270">
              </div>
            </div>
          </article>
          <article class="c-product-detail">
            <div class="c-product-detail-content">
              <h3 class="c-product-detail-title">屋外ダクト吊込工事</h3>
              <p class="c-product-detail-text">屋内のダクト配管は工事が完了すれば壁や天井に隠れて見えなくなることが大半ですが、屋外の場合はダクトがそのまま露出していることも多いので、仕上がりの差が表れやすいと言えるでしょう。サンエス工業ではより効率的に美しい施工を行えるよう、向上心を持って取り組んでいます。</p>
            </div>
            <div class="c-product-detail-images">
              <div class="c-product-detail-image">
                <img src="<%- d.path %>assets/images/business/business-duct-product4.jpg" alt="屋外ダクト吊込工事" width="345" height="229">
              </div>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>
</section>