<% const d = jsonData; -%>
<div class="l-content is-beige">
	<div class="c-simple-head">
		<h1 class="c-simple-head-title">お問い合わせフォーム</h1>
		<p class="c-simple-head-en">Contact Us</p>
	</div>
	<div class="p-require">
		<p class="p-require-lead">
			サンエス工業の製品・サービスに関するお問い合わせを受け付けました。
		</p>
		<div class="p-require-content">
			<div class="p-require-submit">
				<a href="<%- d.path %>" class="c-secondary-button">トップへ戻る</a>
			</div>
		</div>
	</div>
</div>