<% const d = jsonData; -%>
<div class="l-content is-beige">
	<div class="c-simple-head">
		<h1 class="c-simple-head-title">お問い合わせフォーム</h1>
		<p class="c-simple-head-en">Contact Us</p>
	</div>
	<div class="p-require">
		<p class="p-require-lead">
サンエス工業の製品・サービスに関するお問い合わせを承っています。<br>
下記のフォームに必要項目をご記入頂き、「送信」ボタンを押して下さい。
		</p>
		<form class="p-require-content" action="mail.php" method="POST">
			<input type="hidden" name="csrf_token" value="<?php echo $csrf_token; ?>">
			<div class="p-require-input">
				<div class="c-input">
					<div class="c-input-block">
						<span class="c-input-head">
							<span class="c-input-name">お問い合わせ内容</span>
							<span class="c-input-label">必須</span>
						</span>
						<div class="c-input-content">
							<span class="c-input-content-confirm"><?php if(isset($post['matter'])) echo htmlspecialchars($post['matter']); ?></span>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-other" class="c-input-head">
							<span class="c-input-name">その他お問い合わせ</span>
						</label>
						<div class="c-input-content">
							<span id="form-other" class="c-input-content-confirm is-small">
                                <?php if(isset($post['other_content'])) echo htmlspecialchars($post['other_content']); ?>
                            </span>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-name" class="c-input-head">
							<span class="c-input-name">会社名</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-name"
								type="text"
								name="organization"
								autocomplete="organization"
								aria-required="true"
								required
								readonly="readonly"
								value="<?php if(isset($post['organization'])) echo htmlspecialchars($post['organization']); ?>" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-department" class="c-input-head">
							<span class="c-input-name">部署名</span>
						</label>
						<div class="c-input-content">
						<input class="c-input-text"
							id="form-department"
							type="text"
							name="department"
							readonly="readonly"
							value="<?php if(isset($post['department'])) echo htmlspecialchars($post['department']); ?>" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-person" class="c-input-head">
							<span class="c-input-name">ご担当者名</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-person"
								type="text"
								name="organization_title"
								autocomplete="organization-title"
								aria-required="true"
								required
								readonly="readonly"
								value="<?php if(isset($post['organization_title'])) echo htmlspecialchars($post['organization_title']); ?>" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-tel" class="c-input-head">
							<span class="c-input-name">お電話番号</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-tel"
								type="tel"
								name="tel"
								autocomplete="tel"
								aria-required="true"
								required
								readonly="readonly"
								value="<?php if(isset($post['tel'])) echo htmlspecialchars($post['tel']); ?>" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-email" class="c-input-head">
							<span class="c-input-name">メールアドレス</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
							id="form-email"
							type="email"
							name="email"
							autocomplete="email"
							aria-required="true"
							required
							readonly="readonly"
							value="<?php if(isset($post['email'])) echo htmlspecialchars($post['email']); ?>"  />
						</div>
					</div>
					<div class="c-input-block">
						<div class="c-input-head">
							<span class="c-input-name">ご住所</span>
						</div>
						<div class="c-input-content">
							<div class="c-input-post">
								<span class="c-input-post-mark">〒</span>
								<span class="c-input-post-number">
									<input type="text" 
										class="c-input-text" 
										name="postal_code"
										autocomplete="postal-code" 
										placeholder="例）110-0005"
										readonly="readonly"
										value="<?php if(isset($post['postal_code'])) echo htmlspecialchars($post['postal_code']); ?>"  />
								</span>
							</div>
							<div class="c-input-address">
								<input class="c-input-text"
									type="text"
									name="address_level1"
									autocomplete="address-level1"
									readonly="readonly"
									value="<?php if(isset($post['prefecture'])) echo htmlspecialchars($post['prefecture']); ?><?php if(isset($post['address_level1'])) echo htmlspecialchars($post['address_level1']); ?>" />
							</div>
							<div class="c-input-address">
								<input class="c-input-text"
									type="text"
									name="address_line2"
									autocomplete="address-line2"
									readonly="readonly"
									value="<?php if(isset($post['address_line2'])) echo htmlspecialchars($post['address_line2']); ?>" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="p-require-submit">
				<button type="button" onClick="javascript:history.back(-1)" class="c-secondary-button is-white">修　正</button>
				<button type="submit" class="c-secondary-button">送　信</button>
			</div>
		</form>
	</div>
</div>