<% const d = jsonData; -%>
<div class="l-content is-beige">
	<div class="c-simple-head">
		<h1 class="c-simple-head-title">お問い合わせフォーム</h1>
		<p class="c-simple-head-en">Contact Us</p>
	</div>
	<div class="p-require">
		<p class="p-require-lead">
サンエス工業の製品・サービスに関するお問い合わせを承っています。<br>
下記のフォームに必要項目をご記入頂き、「送信」ボタンを押して下さい。
		</p>
		<form class="p-require-content">
			<div class="p-require-input">
				<div class="c-input">
					<div class="c-input-block">
						<span class="c-input-head">
							<span class="c-input-name">お問い合わせ内容</span>
							<span class="c-input-label">必須</span>
						</span>
						<div class="c-input-content">
							<span class="c-input-content-confirm">まずは相談したい</span>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-other" class="c-input-head">
							<span class="c-input-name">その他お問い合わせ</span>
						</label>
						<div class="c-input-content">
							<span id="form-other" class="c-input-content-confirm is-small">その他お問い合わせその他お問い合わせその他お問い合わせその他お問い合わせその他お問い合わせ</span>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-name" class="c-input-head">
							<span class="c-input-name">会社名</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-name"
								type="text"
								name="organization"
								autocomplete="organization"
								aria-required="true"
								required
								readonly="readonly"
								value="会社会社会社会社会社会社会社" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-department" class="c-input-head">
							<span class="c-input-name">部署名</span>
						</label>
						<div class="c-input-content">
						<input class="c-input-text"
							id="form-department"
							type="text"
							name="department"
							readonly="readonly"
							value="部署名部署名部署名部署名部署名" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-person" class="c-input-head">
							<span class="c-input-name">ご担当者名</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-person"
								type="text"
								name="organization-title"
								autocomplete="organization-title"
								aria-required="true"
								required
								readonly="readonly"
								value="ご担当者名ご担当者名ご担当者名" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-tel" class="c-input-head">
							<span class="c-input-name">お電話番号</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-tel"
								type="tel"
								name="tel"
								autocomplete="tel"
								aria-required="true"
								required
								readonly="readonly"
								value="01233456789" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-email" class="c-input-head">
							<span class="c-input-name">メールアドレス</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
							id="form-email"
							type="email"
							name="email"
							autocomplete="email"
							aria-required="true"
							required
							readonly="readonly"
							value="info@tmail.com"  />
						</div>
					</div>
					<div class="c-input-block">
						<div class="c-input-head">
							<span class="c-input-name">ご住所</span>
						</div>
						<div class="c-input-content">
							<div class="c-input-post">
								<span class="c-input-post-mark">〒</span>
								<span class="c-input-post-number">
									<input type="text" 
										class="c-input-text" 
										name="postal-code" 
										autocomplete="postal-code" 
										placeholder="例）110-0005"
										readonly="readonly"
										value="110-0005" />
								</span>
							</div>
							<div class="c-input-address">
								<input class="c-input-text"
									type="text"
									name="address-level1"
									autocomplete="address-level1"
									readonly="readonly"
									value="東京都台東区上野５-１５-１４" />
							</div>
							<div class="c-input-address">
								<input class="c-input-text"
									type="text"
									name="address-line2"
									autocomplete="address-line2"
									readonly="readonly"
									value="ミヤギビル1F" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="p-require-submit">
				<button type="button" class="c-secondary-button is-white">修　正</button>
				<button type="button" class="c-secondary-button">送　信</button>
			</div>
		</form>
	</div>
</div>