<% 
	const d = jsonData;
	const prefectures = ["北海道","青森県","岩手県","宮城県","秋田県","山形県","福島県",
	"茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県",
	"新潟県","富山県","石川県","福井県","山梨県","長野県","岐阜県",
	"静岡県","愛知県","三重県","滋賀県","京都府","大阪府","兵庫県",
	"奈良県","和歌山県","鳥取県","島根県","岡山県","広島県","山口県",
	"徳島県","香川県","愛媛県","高知県","福岡県","佐賀県","長崎県",
	"熊本県","大分県","宮崎県","鹿児島県","沖縄県"]
-%>
<div class="l-content is-beige">
	<div class="c-simple-head">
		<h1 class="c-simple-head-title">お問い合わせフォーム</h1>
		<p class="c-simple-head-en">Contact Us</p>
	</div>
	<div class="p-require">
		<p class="p-require-lead">
サンエス工業の製品・サービスに関するお問い合わせを承っています。<br>
下記のフォームに必要項目をご記入頂き、「送信」ボタンを押して下さい。
		</p>
		<form class="p-require-content">
			<div class="p-require-input">
				<div class="c-input">
					<div class="c-input-block">
						<span class="c-input-head">
							<span class="c-input-name">お問い合わせ内容</span>
							<span class="c-input-label">必須</span>
						</span>
						<div class="c-input-content">
							<div class="c-input-radio">
								<div class="c-input-radio-item">
									<input type="radio" name="matter" id="form-matter1" value="まずは相談したい" class="c-input-radio-input">
									<label for="form-matter1" class="c-input-radio-label">まずは相談したい</label>
								</div>
								<div class="c-input-radio-item">
									<input type="radio" name="matter" id="form-matter2" value="製品についてのお問い合わせ" class="c-input-radio-input">
									<label for="form-matter2" class="c-input-radio-label">製品についてのお問い合わせ</label>
								</div>
							</div>
							<p class="c-input-error">※お問い合わせ内容を選択してください。</p>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-other" class="c-input-head">
							<span class="c-input-name">その他お問い合わせ</span>
						</label>
						<div class="c-input-content">
							<textarea class="c-input-area"
										id="form-other"
										name="require"
										aria-multiline="true">
							</textarea>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-name" class="c-input-head">
							<span class="c-input-name">会社名</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-name"
								type="text"
								name="organization"
								autocomplete="organization"
								aria-required="true"
								required />
							<p class="c-input-error">※会社名を入力してください。</p>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-department" class="c-input-head">
							<span class="c-input-name">部署名</span>
						</label>
						<div class="c-input-content">
						<input class="c-input-text"
							id="form-department"
							type="text"
							name="department" />
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-person" class="c-input-head">
							<span class="c-input-name">ご担当者名</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-person"
								type="text"
								name="organization-title"
								autocomplete="organization-title"
								aria-required="true"
								required />
							<p class="c-input-error">※ご担当者名を入力してください。</p>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-tel" class="c-input-head">
							<span class="c-input-name">お電話番号</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
								id="form-tel"
								type="tel"
								name="tel"
								autocomplete="tel"
								aria-required="true"
								required />
							<p class="c-input-error">※お電話番号を入力してください。</p>
						</div>
					</div>
					<div class="c-input-block">
						<label for="form-email" class="c-input-head">
							<span class="c-input-name">メールアドレス</span>
							<span class="c-input-label">必須</span>
						</label>
						<div class="c-input-content">
							<input class="c-input-text"
							id="form-email"
							type="email"
							name="email"
							autocomplete="email"
							aria-required="true"
							required />
							<p class="c-input-error">※メールアドレスを入力してください。</p>
						</div>
					</div>
					<div class="c-input-block">
						<div class="c-input-head">
							<span class="c-input-name">ご住所</span>
						</div>
						<div class="c-input-content">
							<div class="c-input-post">
								<span class="c-input-post-mark">〒</span>
								<span class="c-input-post-number">
									<input type="text" 
										class="c-input-text" 
										name="postal-code" 
										autocomplete="postal-code" 
										placeholder="例）110-0005" />
								</span>
								<span class="c-input-post-select">
									<select name="prefecture" class="c-input-select">
										<% for (let i = 0; i < prefectures.length; i++) { %>
										<option value="<%= prefectures[i] %>"><%= prefectures[i] %></option>
										<% } %>
									</select>
								</span>
							</div>
							<div class="c-input-address">
								<input class="c-input-text"
									type="text"
									name="address-level1"
									autocomplete="address-level1"
									placeholder="例）東京都台東区上野５-１５-１４" />
							</div>
							<div class="c-input-address">
								<input class="c-input-text"
									type="text"
									name="address-line2"
									autocomplete="address-line2"
									placeholder="例）ミヤギビル1F" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<p class="p-require-lead">
				当社プライバシーポリシーに同意頂ける場合は<br>「同意する」にチェックを付け「送信」ボタンをクリックしてください。
			</p>
			<div class="p-require-check">
				<div class="c-input-check">
					<span class="c-input-check-line">
						<input type="checkbox" name="agree" id="form-agree" class="c-input-check-input js-check-button" data-target="js-require-confirm">
					</span>
					<label for="form-agree" class="c-input-check-label">同意する</label>
				</div>
			</div>

			<div class="p-require-submit">
				<button type="button" class="c-secondary-button js-require-confirm" disabled>送　信</button>
			</div>
		</form>
	</div>
</div>