<% var d = jsonData; -%>
<div class="l-content">
	<div class="c-simple-head is-beige">
		<h1 class="c-simple-head-title">プライバシーポリシー</h1>
		<p class="c-simple-head-en">Privacy Policy</p>
	</div>
	<div class="p-privacy">
		<section class="p-privacy-section">
			<h2 class="c-bar-title is-white">個人情報保護方針</h2>
			<div class="p-privacy-content">
				<p class="p-privacy-text">
					株式会社サンエス工業（以下、「当社」）は、個人情報の重要性を認識し、お客様の個人情報の取扱いについて、以下のような基本方針を定め周知徹底を図り、これを遵守しています。
				</p>
			</div>
		</section>
		<section class="p-privacy-section">
			<h2 class="c-bar-title is-beige">個人情報の取扱</h2>
			<div class="p-privacy-content">
				<p class="p-privacy-text">
					当社は、「個人情報の保護に関する法律」および関連法令を遵守し、お客様より提供いただく個人情報を、細心の注意を払って取扱いたします。
				</p>
			</div>
		</section>
		<section class="p-privacy-section">
			<h2 class="c-bar-title is-beige">個人情報の取得</h2>
			<div class="p-privacy-content">
				<p class="p-privacy-text">
					当社は、お客様に氏名、住所、電話番号、メールアドレスなどの個人情報をお尋ねすることがあります。また、お客様の個人情報を含む取引記録などに関する情報を当社の提携先（情報提供元、広告主、広告配信先などを含みます。以下、｢提携先｣といいます。）などから収集することがあります。
				</p>
			</div>
		</section>
		<section class="p-privacy-section">
			<h2 class="c-bar-title is-beige">個人情報の利用目的</h2>
			<div class="p-privacy-content">
				<p class="p-privacy-text">当社が取得した個人情報は、その事業遂行上必要な範囲内で利用させて頂きます。利用目的は以下のとおりです。</p>
				<ol class="c-order-list">
					<li class="c-order-list-item">企画、設計、施工の請負及び管理その他定款に定める事業活動のため。</li>
					<li class="c-order-list-item">お客様に当社が扱う商品、事業活動、イベント等に関するお知らせをお届けするため（カタログ、展示のご案内、ご提案資料、各種刊行物など）。</li>
					<li class="c-order-list-item">弊社事業活動におけるアフターサービス・メンテナンスその他お客様からの意見、要望にお応えしサービスの向上を図るため。</li>
					<li class="c-order-list-item">当社採用にあたっての、採用応募者（インターンシップを含む）への採用情報等の提供・連絡、当社での採用業務管理、採用後の人事・労務業務における使用のため。</li>
					<li class="c-order-list-item">上記以外の目的により個人情報を取得する場合は、その利用目的を明示し、目的遂行上必要な範囲内で利用いたします。</li>
				</ol>
			</div>
		</section>
		<section class="p-privacy-section">
			<h2 class="c-bar-title is-beige">個人情報の管理</h2>
			<div class="p-privacy-content">
				<ol class="c-order-list">
					<li class="c-order-list-item">当社は、個人情報保護規程を定め役員・従業員への周知徹底を図り、個人情報保護管理に努めます。</li>
					<li class="c-order-list-item">保有する個人情報を正確かつ最新の状態に保ち、不正アクセスや紛失、破壊、改ざん及び漏洩等を防止するための情報管理対策を講じます。</li>
				</ol>
			</div>
		</section>
		<section class="p-privacy-section">
			<h2 class="c-bar-title is-beige">委託</h2>
			<div class="p-privacy-content">
				<p class="p-privacy-text">
					当社は、個人情報を利用目的遂行のために、外部に委託する場合は委託先に対する適切な監督に努めます。
				</p>
			</div>
		</section>
		<section class="p-privacy-section">
			<h2 class="c-bar-title is-beige">個人情報の第三者提供について</h2>
			<div class="p-privacy-content">
				<p class="p-privacy-text">
					当社は、法令に基づく場合を除き、本人の同意なしに保有する個人情報を第三者に提供はいたしません。
				</p>
			</div>
		</section>
		<section class="p-privacy-section">
			<h2 class="c-bar-title is-beige">個人情報の開示・修正等の手続き</h2>
			<div class="p-privacy-content">
				<p class="p-privacy-text">
					お客様が自己の個人情報について開示、照会、訂正、削除等を要望される場合は、当社お問合せ窓口までご請求願います。ご請求内容が当社の業務に著しい支障をきたす場合を除き、請求がご本人様である事を確認した上で開示、照会、訂正、削除等を速やかに行います。なお、お申し出に対して、手数料のご負担をお願いする場合がある事をご了解願います。
				</p>
			</div>
		</section>
		<section class="p-privacy-section">
			<h2 class="c-bar-title is-beige">個人情報保護の変更及び通知について</h2>
			<div class="p-privacy-content">
				<p class="p-privacy-text">
					当社は、この本ポリシーの内容を、事前の予告なく変更することがあります。お客様へその都度ご連絡はいたしかねますので、当社ホームページ上の最新の内容をご参照ください。
				</p>
			</div>
		</section>
		<section class="p-privacy-section">
			<h2 class="p-privacy-title">弊社お問合せ窓口</h2>
			<div class="p-privacy-content">
				<p class="p-privacy-text">
株式会社サンエス工業　総務部<br>
〒110-0005東京都台東区上野５丁目１５番１４号ミヤギビル<br>
TEL 03-3831-1531 (代表)
				</p>
			</div>
		</section>
	</div>
</div>