.c-archive-caption {
	@include pc {
		align-items: flex-start;
		display: flex;
	}

	&:nth-of-type(n + 2) {
		@include pc {
			margin-top: 50px;
		}

		@include sp {
			margin-top: 40px;
		}
	}
}

.c-archive-caption-title {
	border-bottom: 1px solid $base-light-blue;
//	color: $base-gray;

	@include pc {
		flex: 1;
		font-size: 18px;
		padding-bottom: 12px;
	}

	@include sp {
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 24px;
		padding-bottom: 5px;
	}
}

.c-archive-caption-title-image {
	@include sp {
		width: 100%;
	}
}
