.c-button {
	@include getTriangle;
	align-items: center;
	background: $base-light-blue;
	color: $base-white;
	display: flex;
	justify-content: center;
	overflow: hidden;

	@include pc {
		font-size: 14px;
		min-height: 28px;

		&:hover {
			background-color: $base-blue;

			&::after {
				border-color: transparent transparent transparent $base-white;
			}
		}
	}

	@include sp {
		font-size: 18px;
		min-height: 39px;
	}

	& + & {
		@include pc {
			margin-top: 10px;
		}
		@include sp {
			margin-top: 30px;
		}
	}

	&.is-reverse {
		background: $base-white;
		border: 1px solid $base-light-blue;
		color: $base-light-blue;

		&::after {
			border-color: transparent transparent transparent $base-light-blue;
		}

		&::before {
			display: none;
		}

		@include pc {
			&:hover {
				border-color: $base-blue;
				color: $base-blue;

				&::after {
					border-color: transparent transparent transparent $base-blue;
				}
			}
		}
	}
}

.c-button-plane {
	@include hoverOpacity(0.5);
	align-items: center;
	background: $base-light-gray;
	color: $base-white;
	display: inline-flex;
	justify-content: center;
	overflow: hidden;

	@include pc {
		font-size: 12px;
		min-width: 80px;
	}

	@include sp {
		font-size: 18px;
		min-width: 160px;
		padding: 5px;
	}
}

.c-button-large {
	@include hoverOpacity(0.5);
	@include getTriangle($base-light-gray, right, 7, 8);
	align-items: center;
	border: 1px solid $base-light-blue;
	color: $base-light-blue;
	display: flex;
	justify-content: center;
	width: 100%;

	@include pc {
		min-height: 64px;
		min-width: 310px;
	}

	@include sp {
		min-height: 62px;
		font-size: 14px;
	}

	&.is-about {
		@include getTriangle($base-light-blue, right, 7, 8);

		@include pc {
			min-height: 28px;
			min-width: auto;
		}

		@include sp {
			font-size: 19px;
			min-height: 39px;
		}
	}
}
