.c-box-title {
	align-items: center;
	background: url("../images/common/bg_box-title1.png") left top/100% no-repeat;
	color: $base-white;
	display: flex;
	flex-direction: column;
	height: 220px;
	justify-content: center;
	position: relative;
	width: 220px;

	&.is-type2 {
		background-image: url("../images/common/bg_box-title2.jpg");
	}

	&.is-type3 {
		background-image: url("../images/common/bg_box-title3.png");
	}

	&.is-link {
		@include hoverOpacity(0.7);
	}

	&.is-nav {
		@include sp {
			height: 125px;
			width: 125px;

			.c-box-title-text {
				font-size: 20px;
			}

			.c-box-title-bottom {
				bottom: 5px;
				font-size: 10px;
			}
		}
	}
}

.c-box-title-text {
	font-size: 34px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 1;
	text-align: center;
}

.c-box-title-text-small {
	display: block;
	font-size: 0.41em;
	letter-spacing: 0;
	margin-top: 0.75em;
}

.c-box-title-bottom {
	position: absolute;
	text-align: center;
	width: 100%;

	@include pc {
		bottom: 10px;
		font-size: 14px;
		left: 0;
	}

	@include sp {
		bottom: 20px;
		font-size: 16px;
	}

	&.is-medium {
		@include pc {
			letter-spacing: 0.2em;
			bottom: 20px;
		}
	}
}
