.c-center-head {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.c-center-head-lead {
	border-bottom: 1px solid $base-blue;
	text-align: center;
	width: 100%;

	@include pc {
		margin-top: 32px;
		padding-bottom: 10px;
	}

	@include sp {
		margin-top: 20px;
		padding-bottom: 2px;
	}
}

.c-center-haed-text {
	color: $base-black;
	font-weight: bold;

	@include pc {
		font-size: 26px;
	}

	@include sp {
		font-size: 18px;
	}
}
