.c-full-table {
}

.c-full-table-item {
	display: flex;

	&:last-child {
		border-bottom: none;
	}

	@include pc {
		border-bottom: 1px solid $base-beige;
		justify-content: center;
	}

	@include sp {
		border-bottom: 1px solid $base-border;
		padding: 24px 20px 8px;
	}
}

.c-full-table-dl {
	display: flex;

	@include pc {
		align-items: center;
		justify-content: center;
		padding: 21.5px 0;
		width: 780px;
	}

	@include sp {
		flex-direction: column;
		width: 100%;
	}

	&.is-align-top {
		align-items: baseline;
	}
}

.c-full-table-dt {
	color: $base-blue;
	font-weight: bold;
	letter-spacing: 0.1em;

	@include pc {
		font-size: 12px;
		width: 170px;
	}

	@include sp {
		font-size: 13px;
		margin-bottom: 16px;
		width: 100%;
	}
}

.c-full-table-dd {
	@include pc {
		flex: 1;
		font-size: 14px;
		line-height: 2.2;
	}

	@include sp {
		font-size: 13px;
		line-height: 1.8;
		width: 100%;
	}

	small {
		font-size: 0.8em;
	}
}

.c-full-table-right {
	display: block;
	text-align: right;

	@include sp {
		margin-top: 20px;
	}
}

.c-full-table-inline {
	@include pc {
		padding-left: 2em;
	}
}
