.c-inner-nav {
	color: $base-blue;
	font-size: 12px;
	font-weight: bold;
    span {
        letter-spacing: .1em;
        color: #878782;
    }
}

.c-inner-nav-list {
	display: flex;

	@include sp {
		justify-content: center;
	}
}

.c-inner-nav-head {
	letter-spacing: 0.1em;
	margin: 0 0 10px;
	text-align: center;

	@include pc {
		margin: 0 0 10px;
	}

	@include sp {
		margin: 0 0 15px;
	}

	a {
		@include hoverOpacity;
	}
}

.c-inner-nav-item {
	line-height: 1;
	padding: 0 15px;

	&:nth-of-type(n + 2) {
		border-left: 1px solid $base-blue;
	}
}

.c-inner-nav-text {
	@include hoverOpacity;
	letter-spacing: 0.1em;
}
