.c-lead-block {
	@include pc {
		max-width: 800px;
		padding: 0 10px;
		margin: 0 auto;
	}

	@include sp {
		padding: 0 20px;
	}
}

.c-lead-block-headline {
	color: $c-lead-block-title;
	font-weight: normal;

	@include pc {
		font-size: 26px;
	}

	@include sp {
		font-size: 18px;
	}
}

.c-lead-block-text {
	@include pc {
		font-size: 16px;
		line-height: 2.05;
		margin-top: 12px;
	}

	@include sp {
		font-size: 13px;
		line-height: 1.75;
		margin-top: 18px;
	}
}
