.c-visual-head {
	align-items: center;
	background-color: $base-light-blue;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	height: 220px;
	justify-content: center;
	width: 100%;

	@include pc {
		height: 220px;
	}

	&.is-recruit {
		@include pc {
			background-image: url("../images/recruit/recruit-head1.jpg");
		}
		@include sp {
			background-image: url("../images/recruit/recruit-head1_sp.jpg");
		}
	}

	&.is-comapny {
		@include pc {
			background-image: url("../images/company/company-head1.jpg");
		}
		@include sp {
			background-image: url("../images/company/company-head1_sp.jpg");
		}
	}

	&.is-type1 {
		@include pc {
			background-image: url("../images/business/business-head1.jpg");
		}
		@include sp {
			background-image: url("../images/business/business-head1_sp.jpg");
		}
	}
}
