<% var d = jsonData; -%>
<section class="l-content is-no-pb">
  <div class="c-visual-head is-type2">
    <div class="c-box-title">
      <h1 class="c-box-title-text">空調部門</h1>
    </div>
  </div>
  <div class="p-business">
    <div class="p-business-index">
      <div class="c-lead-block">
        <h2 class="c-lead-block-headline">
          「空気を環境に調和させる」空調技術には<br class="pc-view">
          アセンブリのノウハウが生きています
        </h2>
        <p class="c-lead-block-text">
          空気のコントロールを意味する空調には、温度だけでなくホコリなどの異物や湿度、気流といったさまざまな要素のコントロールが含まれており、それらの要素を調和させることで人や設備にとって快適な環境を守る「空気調和」の概念がベースとなっています。環境に合わせてそれぞれの要素をコントロールするにはフィルターや熱交換器、ファンなどの部品を適切に組み合わせていくこと（アセンブリ）が必要ですが、現場ごとに条件や要求水準が異なるため、毎回カスタム仕様での設計となります。<br>
          サンエス工業にはクリーンルームや環境試験室への納入実績もあり、研究所や工場など産業空間での特殊なニーズにもお応えできるノウハウの蓄積が、多くのお客様からの信頼につながっています。
        </p>
      </div>
    </div>

    <div class="c-business-nav is-type2">
      <div class="c-business-nav-inner">
        <a href="./products.html" class="c-box-title is-link is-type2 is-nav">
          <h2 class="c-box-title-text">製品紹介</h2>
          <span class="c-box-title-bottom">Product Introduction</span>
        </a>
        <a href="./products.html" class="c-box-title is-link is-type2 is-nav">
          <h2 class="c-box-title-text">導入実績</h2>
          <span class="c-box-title-bottom">Performance</span>
        </a>
      </div>
    </div>
  </div>
</section>