<% var d = jsonData; -%>
<section class="l-content is-no-pb">
  <div class="c-visual-head is-type2">
    <div class="c-box-title">
      <h1 class="c-box-title-text">空調部門</h1>
    </div>
  </div>
  <div class="p-business">
    <div class="p-business-index">
      <div class="c-lead-block">
        <h2 class="c-lead-block-headline is-black">経験とノウハウで導き出された<br class="pc-view">
        アセンブリが創り出す「空気の調和」</h2>
        <p class="c-lead-block-text">空気をコントロールして快適な空間を提供するための空調ですが、実際には温度だけでなくホコリなどの異物や湿度、気流といったさまざまな要素をコントロールしながら、それらを調和させることで快適な空間を提供する、まさに「空気調和」させるための設備であるといえます。さまざまな環境に合わせて、それぞれの要素をコントロールするにはフィルターや熱交換器、ファンなどの部品を適切に組み合わせていくこと（アセンブリ）が必要ですが、現場ごとに要求される水準や与えられた条件がありますので、それらを満足できるようにその現場に合わせたオーダーメイド設計を行っています。<br>
        サンエス工業はクリーンルームや環境試験室といった特殊な環境への納入実績をはじめとして、研究所や工場など多種多様なニーズにお応えしてきた経験とノウハウで、多くのお客様からの信頼につながるものづくりを大切にしています。</p>
      </div>
    </div>

    <div class="c-business-nav is-type2">
      <div class="c-business-nav-inner">
        <a href="./products.html" class="c-box-title is-link is-type2 is-nav">
          <h2 class="c-box-title-text">製品紹介</h2>
          <span class="c-box-title-bottom">Product Introduction</span>
        </a>
        <a href="./works.html" class="c-box-title is-link is-type2 is-nav">
          <h2 class="c-box-title-text">導入実績</h2>
          <span class="c-box-title-bottom">Performance</span>
        </a>
      </div>
    </div>
  </div>
</section>