<% var d = jsonData; -%>
<section class="l-content is-no-pb">
  <div class="c-visual-head is-type2">
    <div class="c-box-title">
      <h1 class="c-box-title-text">製品紹介<span class="c-box-title-text-small">Product Introduction</span></h1>
      <span class="c-box-title-bottom is-medium">空調部門</span>
    </div>
  </div>
  <div class="c-common-bg">
    <div class="p-business c-common-bg-inner">
      <section class="p-business-products">
        <div class="c-lead-block">
          <h2 class="c-lead-block-headline is-black">
            空調機器は設置される場所の条件や用途に合わせて<br>
            多様な部材とケーシングの組み合わせが可能です。
          </h2>
        </div>
        <div class="p-business-products-detail">
          <article class="c-product-detail">
            <div class="c-product-detail-content">
              <h3 class="c-product-detail-title">横型空調機</h3>
            </div>
            <div class="c-product-detail-images is-auto">
              <div class="c-product-detail-image">
                <img src="<%- d.path %>assets/images/business/business-air-conditioning-product1.jpg" alt="横型空調機">
              </div>
            </div>
          </article>
          <article class="c-product-detail">
            <div class="c-product-detail-content">
              <h3 class="c-product-detail-title">縦型空調機</h3>
            </div>
            <div class="c-product-detail-images is-auto">
              <div class="c-product-detail-image">
                <img src="<%- d.path %>assets/images/business/business-air-conditioning-product2.jpg" alt="縦型空調機">
              </div>
            </div>
          </article>
          <article class="c-product-detail">
            <div class="c-product-detail-content">
              <h3 class="c-product-detail-title">特殊空調機</h3>
            </div>
            <div class="c-product-detail-images is-auto">
              <div class="c-product-detail-image">
                <img src="<%- d.path %>assets/images/business/business-air-conditioning-product3.jpg" alt="横型空調機">
              </div>
            </div>
          </article>
          <article class="c-product-detail">
            <div class="c-product-detail-content">
            <h3 class="c-product-detail-title">コイルユニット</h3>
            </div>
            <div class="c-product-detail-images is-auto">
              <div class="c-product-detail-image">
                <img src="<%- d.path %>assets/images/business/business-air-conditioning-product4.jpg" alt="コイルユニット">
              </div>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>
</section>