<% var d = jsonData; -%>
<section class="l-content is-no-pb">
  <div class="c-visual-head is-type2">
    <div class="c-box-title">
      <h1 class="c-box-title-text">導入実績<span class="c-box-title-text-small">Performance</span></h1>
      <span class="c-box-title-bottom is-medium">空調部門</span>
    </div>
  </div>
  <div class="c-common-bg is-works">
    <div class="p-business c-common-bg-inner">
      <section class="p-business-works">
        <div class="p-business-works-title">
          <h2 class="p-business-works-title-text">主な導入実績</h2>
        </div>
        <div class="p-business-works-archive">
          <figure class="c-archive-caption">
            <figcaption class="c-archive-caption-title">小田急新宿駅</figcaption>
            <img class="c-archive-caption-title-image" src="<%- d.path %>assets/images/business/business-air-conditioning-works1.jpg" alt="小田急新宿駅" width="260" height="191">
          </figure>
        </div>
        <div class="p-business-works-list">
          <section class="c-roll-list">
            <h2 class="c-roll-list-title">
              <span class="c-roll-list-title-text">実績一覧</span>
            </h2>
            <div class="c-roll-list-block">
              <div class="c-roll-list-inner">
								<table class="c-roll-list-table">
									<tbody>
										<tr class="c-roll-list-table-item">
											<td>三菱電機株式会社</td>
											<td>先端技術総合研究所／高周波光デバイス製作所／恵那工場／三田製作所／冷熱システム製作所	姫路製作所／姫路製作所 広畑工場／情報技術総合研究所／受配電システム製作所   他</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>雪印メグミルク株式会社</td>
											<td>幌延工場／磯分内工場／大樹工場／なかしべつ工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>丸大食品㈱関東工場</td>
											<td>関東工場／高槻工場／新潟工場／唐津工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>小田急町田駅ビル</td>
											<td></td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>小田急新宿駅</td>
											<td></td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>ニプロファーマ株式会社</td>
											<td>伊勢工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>日野自動車株式会社</td>
											<td>羽村工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>株式会社BIKEN</td>
											<td></td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>エムケーチーズ株式会社</td>
											<td>綾瀬工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>東レ株式会社</td>
											<td>愛媛工場・名古屋事業場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>凸版印刷株式会社</td>
											<td>熊本工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>大日本印刷株式会社</td>
											<td>久喜工場／岡山工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>コマツ試験センタ粟津</td>
											<td></td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>王子製紙株式会社</td>
											<td>米子工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>プライムデリカ株式会社</td>
											<td>宝塚工場／龍ヶ崎工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>株式会社タダノ</td>
											<td>志度工場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>京都市中央卸売市場</td>
											<td>第二市場</td>
										</tr>
										<tr class="c-roll-list-table-item">
											<td>日本化薬株式会社</td>
											<td>高崎工場</td>
										</tr>
									</tbody>
								</table>
              </div>
            </div>
          </section>
        </div>
      </section>

    </div>
  </div>
</section>