<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-type1">
		<div class="c-box-title">
			<h1 class="c-box-title-text">消音部門</h1>
		</div>
	</div>
	<div class="p-business">
		<div class="p-business-index">
			<div class="c-lead-block">
              <h2 class="c-lead-block-headline">最適な消音機器と消音技術で「快適な空間」を実現する</h2>
              <p class="c-lead-block-text">建物内の温度や湿度をコントロールする空調機。コントロールされた空気を建物内に送り出す送風機は、駆動時に大きな動作音を伴います。この動作音がダクトを通じて、空気とともに居室や作業空間に流れ込むことで騒音となり、快適な空間ではなくなってしまいます。つまり快適な空間を提供するためには、空気のコントロールと同時に音のコントロールも欠かせない要素なのです。<br>
              消音部門では「騒音を抑える」ことに特化した消音機器の設計、製造、施工を行っており、豊富な経験により積み重ねたノウハウを活用して、確かな消音技術の向上に努めています。ホールやスタジオ、病院など、高いレベルの消音性能が求められる施設への導入実績も多く、現地での騒音測定なども含めたきめ細やかな対応で、お客様から高い評価をいただいています。</p>
			</div>
		</div>

		<div class="c-business-nav">
			<div class="c-business-nav-inner">
				<a href="./products.html" class="c-box-title is-link is-type2 is-nav">
					<h2 class="c-box-title-text">製品紹介</h2>
					<span class="c-box-title-bottom">Product Introduction</span>
				</a>
				<a href="./works.html" class="c-box-title is-link is-type2 is-nav">
					<h2 class="c-box-title-text">導入実績</h2>
					<span class="c-box-title-bottom">Performance</span>
				</a>
			</div>
		</div>
	</div>
</section>