<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-type1">
		<div class="c-box-title">
			<h1 class="c-box-title-text">消音部門</h1>
		</div>
	</div>
	<div class="p-business">
		<div class="c-lead-block">
			<h2 class="c-lead-block-headline">
「快適な空間」を実現するためには<br class="pc-view">適切な消音機器や消音技術が不可欠です
			</h2>
			<p class="c-lead-block-text">
建物内の空気の温度や湿度をコントロールする空調機には送風機（ファン）が取り付けられているので、構造的に動作音をなくすことはできません。この動作音がダクトを通じて居室や作業空間に流れ込むと騒音の原因となり、快適性を損ないます。つまり快適空間を維持するためには、空気のコントロールと同時に音のコントロールも欠かせないのです。<br>
消音部門では「騒音を抑える」ことに特化した消音機器の設計、製造、施工を行っており、豊富な経験と積み重ねたノウハウを活用して、確かな消音技術の向上に努めています。中でもホールやスタジオ、病院など高いレベルの消音が求められる施設には多数の導入実績があり、現地での騒音測定も含めたきめ細かな対応に高い評価をいただいています。
			</p>
		</div>
		<div class="c-business-nav">
			<div class="c-business-nav-inner">
				<a href="./products.html" class="c-box-title is-link is-type2 is-nav">
					<h2 class="c-box-title-text">製品紹介</h2>
					<span class="c-box-title-bottom">Product Introduction</span>
				</a>
				<a href="./products.html" class="c-box-title is-link is-type2 is-nav">
					<h2 class="c-box-title-text">導入実績</h2>
					<span class="c-box-title-bottom">Performance</span>
				</a>
			</div>
		</div>
	</div>
</section>