<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-type1">
		<div class="c-box-title">
			<h1 class="c-box-title-text">消音部門</h1>
		</div>
	</div>
	<div class="c-common-bg">
		<div class="p-business c-common-bg-inner">
			<div class="c-lead-block">
				<h2 class="c-lead-block-headline">
					消音機器はその都度、消音計算書に基づいて<br class="pc-view">用途に応じた形状で設計を行います。
				</h2>
			</div>
		</div>
	</div>
</section>