<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-type1">
		<div class="c-box-title">
			<h1 class="c-box-title-text">導入実績<span class="c-box-title-text-small">Performance</span></h1>
			<span class="c-box-title-bottom is-medium">消音部門</span>
		</div>
	</div>
	<div class="c-common-bg is-works">
		<div class="p-business c-common-bg-inner">
			<section class="p-business-works">
				<div class="p-business-works-title">
					<h2 class="p-business-works-title-text">主な導入実績</h2>
				</div>
				<div class="p-business-works-archive">
					<figure class="c-archive-caption">
						<figcaption class="c-archive-caption-title">フジテレビ臨海スタジオ</figcaption>
						<img class="c-archive-caption-title-image" src="<%- d.path %>assets/images/business/business-silencer-works1.jpg" alt="フジテレビ臨海スタジオ" width="260" height="190">
					</figure>
					<figure class="c-archive-caption">
						<figcaption class="c-archive-caption-title">丸ノ内パークビルディング</figcaption>
						<img class="c-archive-caption-title-image" src="<%- d.path %>assets/images/business/business-silencer-works2.jpg" alt="丸ノ内パークビルディング" width="260" height="190">
					</figure>
					<figure class="c-archive-caption">
						<figcaption class="c-archive-caption-title">東京国際空港第 2 旅客ターミナルビル</figcaption>
						<img class="c-archive-caption-title-image" src="<%- d.path %>assets/images/business/business-silencer-works3.jpg" alt="東京国際空港第 2 旅客ターミナルビル" width="260" height="190">
					</figure>
					<figure class="c-archive-caption">
						<figcaption class="c-archive-caption-title">国立新美術館</figcaption>
						<img class="c-archive-caption-title-image" src="<%- d.path %>assets/images/business/business-silencer-works4.jpg" alt="国立新美術館" width="260" height="190">
					</figure>
				</div>
				<div class="p-business-works-list">
					<section class="c-roll-list">
						<h2 class="c-roll-list-title">
							<span class="c-roll-list-title-text">実績一覧</span>
						</h2>
						<section class="c-roll-list-block">
							<h3 class="c-roll-list-headline">
								<span class="c-roll-list-headline-text">ホール・スタジオ</span>
							</h3>
							<div class="c-roll-list-inner">
								<ul class="c-roll-list-content">
									<li class="c-roll-list-content-item">フジテレビ臨海スタジオ</li>
									<li class="c-roll-list-content-item">東宝スタジオポストプロダクション</li>
								</ul>
								<ul class="c-roll-list-content">
									<li class="c-roll-list-content-item">テレビ朝日放送センター</li>
									<li class="c-roll-list-content-item">軽井沢大賀ホール</li>
								</ul>
							</div>
						</section>
						<section class="c-roll-list-block">
							<h3 class="c-roll-list-headline">
								<span class="c-roll-list-headline-text">オフィス</span>
							</h3>
							<div class="c-roll-list-inner">
								<ul class="c-roll-list-content">
									<li class="c-roll-list-content-item">丸ノ内パークビルディング</li>
									<li class="c-roll-list-content-item">渋谷ヒカリエ</li>
									<li class="c-roll-list-content-item">大手町フィナンシャルシティサウスタワー</li>
									<li class="c-roll-list-content-item">大手町フィナンシャルシティノースタワー</li>
								</ul>
								<ul class="c-roll-list-content">
									<li class="c-roll-list-content-item">赤坂Bizタワー</li>
									<li class="c-roll-list-content-item">経団連ビル</li>
									<li class="c-roll-list-content-item">ＪＰタワー</li>
									<li class="c-roll-list-content-item">二重橋ビル</li>
								</ul>
							</div>
						</section>
						<section class="c-roll-list-block">
							<h3 class="c-roll-list-headline">
								<span class="c-roll-list-headline-text">公共施設・病院</span>
							</h3>
							<div class="c-roll-list-inner">
								<ul class="c-roll-list-content">
									<li class="c-roll-list-content-item">東京国際空港第2旅客ターミナルビル</li>
									<li class="c-roll-list-content-item">帝京大学医学部付属病院新館</li>
									<li class="c-roll-list-content-item">東京国際空港国際線ターミナルビル</li>
									<li class="c-roll-list-content-item">都立産業技術センター</li>
								</ul>
								<ul class="c-roll-list-content">
									<li class="c-roll-list-content-item">ナショナルトレーニングセンター</li>
									<li class="c-roll-list-content-item">国立新美術館</li>
									<li class="c-roll-list-content-item">ボートレース六本木</li>
								</ul>
							</div>
						</section>
						<section class="c-roll-list-block">
							<h3 class="c-roll-list-headline">
								<span class="c-roll-list-headline-text">その他</span>
							</h3>
							<div class="c-roll-list-inner">
								<ul class="c-roll-list-content">
									<li class="c-roll-list-content-item">創価学会総本部</li>
									<li class="c-roll-list-content-item">ヤマト羽田物流ターミナル</li>
									<li class="c-roll-list-content-item">府中駅南口第一地区第一種市街地再開発</li>
									<li class="c-roll-list-content-item">シティイン茂原</li>
								</ul>
								<ul class="c-roll-list-content">
									<li class="c-roll-list-content-item">日本発条㈱宮田工場</li>
								</ul>
							</div>
						</section>
					</section>
				</div>
			</section>

		</div>
	</div>
</section>