.l-body {
	&--open {
		@include sp {
			position: fixed;
			z-index: -1;
			width: 100%;
			height: 100%;
		}

		@include sp {
			.l-header-require {
				display: block;
			}
		}
	}
}
.l-wrapper {
	@include pc {
		min-height: 100vh;
	}
}

.l-main {
	@include sp {
		padding-top: 54px;
        line-height: 2;
  }
}

.l-top {
	@include pc {
		padding: 135px 0 60px;
		position: relative;
	}

	@include sp {
		background: $p-top-content-background;
		margin-bottom: -15px;
	}
}

.l-content {
	&.is-beige {
		background: $base-beige;
	}

	&.is-light-blue {
		background: $l-content-light-blue;
	}

	&.is-no-pb {
		padding-bottom: 0;
	}

	@include pc {
		min-height: calc(100vh - 381px);
		padding-bottom: 57px;
	}

	@include sp {
		padding-bottom: 50px;
	}
}
