<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-comapny">
		<div class="c-box-title">
			<h1 class="c-box-title-text">会社概要</h1>
		</div>
	</div>
	<div class="c-common-bg is-bottom">
		<div class="p-company c-common-bg-inner">
			<div class="p-comapny-about">
				<div class="c-full-table">
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">社名</dt>
							<dd class="c-full-table-dd">株式会社サンエス工業</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">代表者</dt>
							<dd class="c-full-table-dd">代表取締役社長　菊池　丈之</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">役員</dt>
							<dd class="c-full-table-dd">取締役　都筑　浩</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top" id="map1">
							<dt class="c-full-table-dt">所在地</dt>
							<dd class="c-full-table-dd">
								<div class="p-company-about-map">
									<span class="p-company-about-map-label">本社</span>
									<div class="p-company-about-map-content">
										<div class="p-company-about-map-block">
											<p class="p-company-about-map-text">
												〒110-0005東京都台東区上野５丁目１５番１４号ミヤギビル<br>
												TEL 03-3831-1531 (代表)　　FAX 03-3831-1526
											</p>
										</div>
										<div class="p-company-about-map-frame">
											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.8440545410813!2d139.77350281568488!3d35.70545498018868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ea1039881c1%3A0x80e7ed5dd113918!2z44CSMTEwLTAwMDUg5p2x5Lqs6YO95Y-w5p2x5Yy65LiK6YeO77yV5LiB55uu77yR77yV4oiS77yXIOODn-ODpOOCruODk-ODqw!5e0!3m2!1sja!2sjp!4v1639928774176!5m2!1sja!2sjp" width="510" height="218" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
										</div>
									</div>
								</div>
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">設立日</dt>
							<dd class="c-full-table-dd">昭和49年4月25日</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">資本金</dt>
							<dd class="c-full-table-dd">24,000,000円 (授権資本金 96,000,000円)</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">社員数</dt>
							<dd class="c-full-table-dd">60名</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">事業内容および営業種目</dt>
							<dd class="c-full-table-dd">
								<ol class="c-order-list">
									<li class="c-order-list-item">消音機器製造並びに販売</li>
									<li class="c-order-list-item">消音装置の設計、消音計算書の作成</li>
								</ol>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>