<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-comapny">
		<div class="c-box-title">
			<h1 class="c-box-title-text">会社概要</h1>
		</div>
	</div>
	<div class="c-common-bg is-bottom">
		<div class="p-company c-common-bg-inner">
			<div class="p-company-about">
				<div class="c-full-table">
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">社名</dt>
							<dd class="c-full-table-dd">
								株式会社サンエス工業<br class="sp-view"><span class="c-full-table-inline">SAN-ESU INDUSTRY Co.,Ltd.</span>
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">代表者</dt>
							<dd class="c-full-table-dd">代表取締役社長　菊池　丈之</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">役員</dt>
							<dd class="c-full-table-dd">取締役　都筑　浩</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">所在地</dt>
							<dd class="c-full-table-dd">
								<div class="p-company-about-map" id="map1">
									<span class="p-company-about-map-label">本社</span>
									<div class="p-company-about-map-content">
										<div class="p-company-about-map-item">
											<div class="p-company-about-map-block">
												<p class="p-company-about-map-text">
													〒110-0005東京都台東区上野５丁目１５番１４号ミヤギビル<br>
													TEL 03-3831-1531 (代表)　　<br class="sp-view">FAX 03-3831-1526
												</p>
											</div>
											<div class="p-company-about-map-frame">
												<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.8440545410813!2d139.77350281568488!3d35.70545498018868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ea1039881c1%3A0x80e7ed5dd113918!2z44CSMTEwLTAwMDUg5p2x5Lqs6YO95Y-w5p2x5Yy65LiK6YeO77yV5LiB55uu77yR77yV4oiS77yXIOODn-ODpOOCruODk-ODqw!5e0!3m2!1sja!2sjp!4v1639928774176!5m2!1sja!2sjp" width="510" height="218" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
											</div>
										</div>
									</div>
								</div>
								<div class="p-company-about-map" id="map2">
									<span class="p-company-about-map-label">支店・工場</span>
									<div class="p-company-about-map-content">
										<div class="p-company-about-map-item" >
											<div class="p-company-about-map-block">
												<p class="p-company-about-map-text">
													<span class="p-company-about-map-point">［ 東北支店・工場 ］</span>
													〒981-3117宮城県仙台市泉区市名坂字野蔵１３<br>
													TEL 022-373-4700 (代表)　　<br class="sp-view">FAX 022-373-6861
												</p>
											</div>
											<div class="p-company-about-map-frame">
												<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.4797564097034!2d140.89784321574422!3d38.3147196796648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8986c8b49c37e1%3A0x751346c816133a39!2z44CSOTgxLTMxMTcg5a6u5Z-O55yM5LuZ5Y-w5biC5rOJ5Yy65biC5ZCN5Z2C6YeO6JS177yR77yT!5e0!3m2!1sja!2sjp!4v1639999134712!5m2!1sja!2sjp" width="510" height="218" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
											</div>
										</div>
										<div class="p-company-about-map-item" id="map3">
											<div class="p-company-about-map-block">
												<p class="p-company-about-map-text">
													<span class="p-company-about-map-point">［ 茨城工場 ］</span>
													〒300-0134茨城県かすみがうら市深谷６７<br>
													TEL 029-897-1917 (代表)　　<br class="sp-view">FAX 029-897-1918
												</p>
											</div>
											<div class="p-company-about-map-frame">
												<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.8872231773676!2d140.27776961569344!3d36.09623708009975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60226b43ec817611%3A0x6a0d45ab30474921!2z44CSMzAwLTAxMzQg6Iyo5Z-O55yM44GL44GZ44G_44GM44GG44KJ5biC5rex6LC377yW77yX!5e0!3m2!1sja!2sjp!4v1639999219774!5m2!1sja!2sjp" width="510" height="218" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
											</div>
										</div>
									</div>
								</div>
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">設立日</dt>
							<dd class="c-full-table-dd">昭和49年4月25日</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">資本金</dt>
							<dd class="c-full-table-dd">24,000,000円 (授権資本金 96,000,000円)</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">社員数</dt>
							<dd class="c-full-table-dd">60名</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">事業内容および営業種目</dt>
							<dd class="c-full-table-dd">
								<ol class="c-order-list">
									<li class="c-order-list-item">消音機器製造並びに販売</li>
									<li class="c-order-list-item">消音装置の設計、消音計算書の作成</li>
									<li class="c-order-list-item">騒音測定・騒音対策</li>
									<li class="c-order-list-item">空調機器製造並びに販売</li>
									<li class="c-order-list-item">ダクト工事設計施工（東北支店）</li>
									<li class="c-order-list-item">各種スパイラルダクト・フレキ類の販売</li>
								</ol>
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">主な製造機械</dt>
							<dd class="c-full-table-dd">
								<dl class="p-company-about-dl">
									<dt class="p-company-about-dl-dt">茨城工場</dt>
									<dd class="p-company-about-dl-dd">ダミーコピーです・ダミーコピーです・ダミーコピーです</dd>
								</dl>
								<dl class="p-company-about-dl">
									<dt class="p-company-about-dl-dt">東北支店</dt>
									<dd class="p-company-about-dl-dd">ダミーコピーです・ダミーコピーです・ダミーコピーです</dd>
								</dl>
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">建設業許可</dt>
							<dd class="c-full-table-dd">国土交通大臣 許可(特)第6026号　管工事業</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">取引銀行</dt>
							<dd class="c-full-table-dd">
みずほ銀行　上野支店<br>
三菱UFJ銀行 上野中央支店<br>
商工中金 上野支店<br>
七十七銀行　泉支店
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">主な取引先</dt>
							<dd class="c-full-table-dd">
高砂熱学工業株式会社<br>
ダイダン株式会社<br>
三菱電機冷熱プラント株式会社<br>
株式会社ユアテック<br>
新菱冷熱工業株式会社<br>
三建設備工業株式会社<br>
株式会社朝日工業社<br>
日本ピュアテック株式会社<br>
株式会社エアレックス<br>
五建工業株式会社
<span class="c-full-table-right">(順不同)</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="p-comapny-about-button">
					<div class="p-comapny-about-button-inner">
						<a href="<%- d.path %>assets/pdf/" class="c-button-large is-about">会社案内PDF</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>