<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-comapny">
		<div class="c-box-title">
			<h1 class="c-box-title-text">会社概要</h1>
		</div>
	</div>
	<div class="c-common-bg is-bottom">
		<div class="p-company c-common-bg-inner">
			<div class="p-company-about">
				<div class="c-full-table is-about">
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">社名</dt>
							<dd class="c-full-table-dd">
								株式会社サンエス工業<br class="sp-view"><span class="c-full-table-inline">SAN-ESU INDUSTRY Co.,Ltd.</span>
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">代表者</dt>
                          <dd class="c-full-table-dd">代表取締役社長　菊池　丈之</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">役員</dt>
							<dd class="c-full-table-dd">取締役　都筑　浩<br>執行役員　小野　泰宏</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">所在地</dt>
							<dd class="c-full-table-dd">
								<div class="p-company-about-map" id="map1">
									<span class="p-company-about-map-label">本社</span>
									<div class="p-company-about-map-content">
										<div class="p-company-about-map-item">
											<div class="p-company-about-map-block">
												<p class="p-company-about-map-text">
													〒110-0005東京都台東区上野５丁目１５番１４号ミヤギビル<br>
													TEL 03-3831-1531 (代表)　　<br class="sp-view">FAX 03-3831-1526
												</p>
											</div>
											<div class="js-accordion">
												<button class="p-company-about-map-button js-accordion-tab"
													type="button" 
													id="js-accordion-tab-map-1"
													role="tab"
													aria-controls="js-accordion-panel-map-1"
													aria-selected="false">地図<span>[クリックしてください]</span></button>
												<div class="p-company-about-map-inner js-accordion-panel"
													id="js-accordion-panel-map-1"
													role="tabpanel"
													aria-labelledby="js-accordion-tab-map-1"
													aria-expanded="false"
													aria-hidden="true">
													<div class="p-company-about-map-frame">
														<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1030.3557532625769!2d139.77521563764802!3d35.70566809527571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ea103a27e99%3A0xc0c112b277befa3a!2z77yI5qCq77yJ44K144Oz44Ko44K55bel5qWt!5e0!3m2!1sja!2sjp!4v1640021248036!5m2!1sja!2sjp" width="510" height="218" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="p-company-about-map" id="map2">
									<span class="p-company-about-map-label">支店・工場</span>
									<div class="p-company-about-map-content">
										<div class="p-company-about-map-item" >
											<div class="p-company-about-map-block">
												<p class="p-company-about-map-text">
													<span class="p-company-about-map-point">［ 東北支店・工場 ］</span>
													〒981-3117宮城県仙台市泉区市名坂字野蔵１３<br>
													TEL 022-373-4700 (代表)　　<br class="sp-view">FAX 022-373-6861
												</p>
											</div>
											<div class="js-accordion">
												<button class="p-company-about-map-button js-accordion-tab"
													type="button" 
													id="js-accordion-tab-map-2"
													role="tab"
													aria-controls="js-accordion-panel-map-2"
													aria-selected="false">地図<span>[クリックしてください]</span></button>
												<div class="p-company-about-map-inner js-accordion-panel"
													id="js-accordion-panel-map-2"
													role="tabpanel"
													aria-labelledby="js-accordion-tab-map-2"
													aria-expanded="false"
													aria-hidden="true">
													<div class="p-company-about-map-frame">
														<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d502.6051921806431!2d140.89966094495864!3d38.31458581358286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8986c8b28876cf%3A0xac93152431157d6d!2z44ix44K144Oz44Ko44K55bel5qWtIOadseWMl-aUr-W6lw!5e0!3m2!1sja!2sjp!4v1640020883264!5m2!1sja!2sjp" width="510" height="218" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
													</div>
												</div>
											</div>
										</div>
										<div class="p-company-about-map-item" id="map3">
											<div class="p-company-about-map-block">
												<p class="p-company-about-map-text">
													<span class="p-company-about-map-point">［ 茨城工場 ］</span>
													〒300-0134茨城県かすみがうら市深谷６７<br>
													TEL 029-897-1917 (代表)　　<br class="sp-view">FAX 029-897-1918
												</p>
											</div>
											<div class="js-accordion">
												<button class="p-company-about-map-button js-accordion-tab"
													type="button" 
													id="js-accordion-tab-map-3"
													role="tab"
													aria-controls="js-accordion-panel-map-3"
													aria-selected="false">地図<span>[クリックしてください]</span></button>
												<div class="p-company-about-map-inner js-accordion-panel"
													id="js-accordion-panel-map-3"
													role="tabpanel"
													aria-labelledby="js-accordion-tab-map-3"
													aria-expanded="false"
													aria-hidden="true">
													<div class="p-company-about-map-frame">
														<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d431.0795531563179!2d140.2796537524571!3d36.09609472635907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60226b43ec9e4a2d%3A0xe9bd4d43e22894a2!2z77yI5qCq77yJ44K144Oz44Ko44K55bel5qWt!5e0!3m2!1sja!2sjp!4v1640020955049!5m2!1sja!2sjp" width="510" height="218" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
													</div>
												</div>
											</div>
										</div>
										<!--<div class="p-company-about-map-item" id="map3">
											<div class="p-company-about-map-block">
												<p class="p-company-about-map-text">
													<span class="p-company-about-map-point">［ 茨城新工場 ］</span>
													〒300-0136 茨城県かすみがうら市戸崎字一本松2302-1<br>
													TEL 　　<br class="sp-view">FAX 
												</p>
											</div>
											<div class="js-accordion">
												<button class="p-company-about-map-button js-accordion-tab"
													type="button" 
													id="js-accordion-tab-map-4"
													role="tab"
													aria-controls="js-accordion-panel-map-4"
													aria-selected="false">地図<span>[クリックしてください]</span></button>
												<div class="p-company-about-map-frame js-accordion-panel"
													id="js-accordion-panel-map-4"
													role="tabpanel"
													aria-labelledby="js-accordion-tab-map-4"
													aria-expanded="false"
													aria-hidden="true">
													<div class="p-company-about-map-frame">
														<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1612.1055451723187!2d140.276085!3d36.088342!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdfae30df93afab0!2z44K144Oz44Ko44K55bel5qWtIOiMqOWfjuW3peWgtA!5e0!3m2!1sja!2sjp!4v1640021371309!5m2!1sja!2sjp" width="510" height="218" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
													</div>
												</div>
											</div>
										</div>-->
									</div>
								</div>
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">設立日</dt>
							<dd class="c-full-table-dd">昭和49年4月25日</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">資本金</dt>
							<dd class="c-full-table-dd">24,000,000円 (授権資本金 96,000,000円)</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">社員数</dt>
							<dd class="c-full-table-dd">60名</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">事業内容および営業種目</dt>
							<dd class="c-full-table-dd">
								<ol class="c-order-list">
									<li class="c-order-list-item">消音機器製造並びに販売</li>
									<li class="c-order-list-item">消音装置の設計、消音計算書の作成</li>
									<li class="c-order-list-item">騒音測定・騒音対策</li>
									<li class="c-order-list-item">空調機器製造並びに販売</li>
									<li class="c-order-list-item">ダクト工事設計施工（東北支店）</li>
									<li class="c-order-list-item">各種スパイラルダクト・フレキ類の販売</li>
								</ol>
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">建設業許可</dt>
							<dd class="c-full-table-dd">国土交通大臣 許可(特)第6026号　管工事業</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">取引銀行</dt>
							<dd class="c-full-table-dd">
                              みずほ銀行　上野支店<br>
                              三菱UFJ銀行 上野中央支店<br>
                              商工中金 上野支店<br>
                              七十七銀行　泉支店
							</dd>
						</dl>
					</div>
					<div class="c-full-table-item">
						<dl class="c-full-table-dl is-align-top">
							<dt class="c-full-table-dt">主な取引先</dt>
							<dd class="c-full-table-dd">
                              高砂熱学工業株式会社<br>
                              ダイダン株式会社<br>
                              三菱電機冷熱プラント株式会社<br>
                              株式会社ユアテック<br>
                              新菱冷熱工業株式会社<br>
                              三建設備工業株式会社<br>
                              株式会社朝日工業社<br>
                              ピュアテック株式会社<br>
                              株式会社エアレックス<br>
                              五建工業株式会社
                              <span class="c-full-table-right">(順不同)</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="p-comapny-about-button">
					<div class="p-comapny-about-button-inner">
                      <a href="<%- d.path %>assets/pdf/SSS_companyoutline.pdf" target="_blank" class="c-button is-reverse">会社案内PDF</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>