<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-comapny">
		<div class="c-box-title">
			<h1 class="c-box-title-text">沿　革</h1>
		</div>
	</div>
	<div class="c-common-bg is-bottom">
		<div class="p-company c-common-bg-inner">
			<div class="p-comapny-history">
				<div class="c-history">
					<div class="c-history-block">
						<p class="c-history-year">1974</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">昭和49年</dt>
								<dd class="c-history-dd">
									東京・上野に本社設立（資本金1,200万円）<br class="pc-view">仙台営業所、工場完成（ダクト工事事業開始）
								</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">1978</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">昭和53年</dt>
								<dd class="c-history-dd">クリーンルーム用空調機開発</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">1984</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">昭和59年</dt>
								<dd class="c-history-dd">茨城工場完成</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">1985</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">昭和60年</dt>
								<dd class="c-history-dd">消音ボックス開発</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">1989</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">平成元年</dt>
								<dd class="c-history-dd">資本金2,400万円に増資</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">1996</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">平成8年</dt>
								<dd class="c-history-dd">消音マフラー開発</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">1998</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">平成10年</dt>
								<dd class="c-history-dd">茨城工場　第二工場完成</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">1999</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">平成11年</dt>
								<dd class="c-history-dd">仙台営業所から東北支店に昇格</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">2007</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">平成19年</dt>
								<dd class="c-history-dd">室外機・冷却塔用サイレンサー開発</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">2010</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">平成22年</dt>
								<dd class="c-history-dd">ディーゼル発電機用サイレンサー・煙道開発</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">2016</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">平成28年</dt>
								<dd class="c-history-dd">各種スパイラルダクト・フレキ類の販売</dd>
							</dl>
						</div>
					</div>
					<div class="c-history-block">
						<p class="c-history-year">2019</p>
						<div class="c-history-content">
							<dl class="c-history-dl">
								<dt class="c-history-dt">令和元年</dt>
								<dd class="c-history-dd">代表取締役社長に菊池丈之が就任</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>