<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-comapny">
		<div class="c-box-title">
			<h1 class="c-box-title-text">事業拠点</h1>
		</div>
	</div>
	<div class="c-common-bg is-bottom is-show-sp">
		<div class="p-company c-common-bg-inner">
			<div class="p-comapny-locations">
				<section class="p-company-locations-section">
					<h2 class="c-bar-title">本社</h2>
					<div class="p-company-locations-content">
						<div class="p-company-locations-detail">
							<p class="p-company-locations-detail-text">
								〒110-0005<br>
								東京都台東区上野5丁目15番14号<br>
								ミヤギビル<br>
								TEL 03-3831-1531 (代表)<br>
								FAX 03-3831-1526
							</p>
							<div class="p-company-locations-detail-button">
								<a href="#TODO" class="c-button-plane">地図</a>
							</div>
						</div>
						<div class="p-company-locations-gallery">
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations1.jpg" alt="本社" width="177" height="225">
							</div>
						</div>
					</div>
				</section>
				<section class="p-company-locations-section">
					<h2 class="c-bar-title">東北支店・工場</h2>
					<div class="p-company-locations-content">
						<div class="p-company-locations-detail">
							<p class="p-company-locations-detail-text">
								〒981-3117<br>
								宮城県仙台市泉区市名坂字野蔵１３<br>
								TEL 022-373-4700 (代表)<br>
								FAX 022-373-6861
							</p>
							<div class="p-company-locations-detail-button">
								<a href="#TODO" class="c-button-plane">地図</a>
							</div>
						</div>
					</div>
				</section>
				<section class="p-company-locations-section">
					<h2 class="c-bar-title">茨城工場</h2>
					<div class="p-company-locations-content">
						<div class="p-company-locations-detail">
							<p class="p-company-locations-detail-text">
								〒300-0134<br>
								茨城県かすみがうら市深谷６７<br>
								TEL 029-897-1917 (代表)<br>
								FAX 029-897-1918<br>
							</p>
							<div class="p-company-locations-detail-button">
								<a href="#TODO" class="c-button-plane">地図</a>
							</div>
						</div>
						<div class="p-company-locations-gallery">
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations2.jpg" alt="茨城工場" width="260" height="210">
							</div>
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations3.jpg" alt="茨城工場" width="260" height="210">
							</div>
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations4.jpg" alt="茨城工場" width="260" height="210">
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>