.p-comapny-index {
	margin: 0 auto;
	max-width: 820px;
	padding: 0 20px;
	@include pc {
		margin-top: -30px;
		padding-bottom: 115px;
	}

	@include sp {
		padding-top: 50px;
		padding-bottom: 65px;
	}
}

.p-company-index-section {
	& + & {
		@include pc {
			margin-top: 60px;
		}
		@include sp {
			margin-top: 90px;
		}
	}
}

.p-company-index-content {
	@include pc {
		display: flex;
		margin-top: 23px;

		&.is-3s {
			margin-right: 46.5px;
			width: 334px;
		}
	}

	@include sp {
		margin-top: 20px;
	}
}

.p-company-index-detail {
	@include pc {
		flex: 1;
	}
}

.p-company-index-text {
	margin-bottom: 2.3em;

	@include pc {
		font-size: 14px;
		line-height: 2.2;
	}

	@include sp {
		font-size: 13px;
		line-height: 1.7;
	}
}

.p-company-index-visual {
	@include pc {
		padding-top: 5px;
		width: 250px;
	}

	@include sp {
		margin: 20px auto 0;
		min-width: 190px;
		text-align: center;
		width: 67.857143%;

		img {
			width: 100%;
		}
	}
}

.p-company-index-visual-signiture {
	@include sp {
		min-width: 157px;
		width: 100%;

		img {
			width: 86.578947%;
		}
	}
}

.p-company-index-3s {
	@include pc {
		display: flex;
	}
}

.p-company-index-3s-wrapper {
	@include pc {
		flex: 1;
	}
}

.p-company-index-3s-head-title {
	color: $base-gray;
	font-weight: normal;
	text-align: center;

	@include pc {
		font-size: 26px;
		padding: 23px 0 0 25px;
		margin-bottom: 32px;
	}

	@include sp {
		font-size: 22px;
		margin-bottom: 20px;
		text-align: center;
	}
}

.p-company-index-3s-head-illust {
	@include sp {
		text-align: center;

		img {
			max-width: 560px;
			width: 100%;
		}
	}
}

.p-company-index-3s-content {
	margin-top: 34px;
	@include sp {
		margin-top: 34px;

		img {
			max-width: 551px;
			margin: 0 auto;
			width: 97%;
		}
	}
}

.p-comapny-history {
	margin: 0 auto;
	max-width: 820px;
	padding: 0 20px;
	@include pc {
		padding-top: 65px;
		padding-bottom: 85px;
	}

	@include sp {
		padding-top: 20px;
		padding-bottom: 28px;
	}
}

.p-comapny-locations {
	margin: 0 auto;
	max-width: 820px;
	padding: 0 20px;

	@include pc {
		padding-top: 70px;
		padding-bottom: 105px;
	}

	@include sp {
		padding-top: 42px;
		padding-bottom: 28px;
	}
}

.p-company-locations-section {
	&:nth-of-type(n + 2) {
		@include pc {
			margin-top: 60px;
		}

		@include sp {
			margin-top: 35px;
		}
	}
}

.p-company-locations-content {
	@include pc {
		display: flex;
		margin-top: 25px;
		min-height: 235px;
	}

	@include sp {
		margin-top: 10px;
	}
}

.p-company-locations-detail {
	@include pc {
		width: 240px;
	}
}

.p-company-locations-detail-text {
	@include pc {
		font-size: 14px;
		line-height: 1.8;
	}

	@include sp {
		font-size: 13px;
		line-height: 1.8;
	}
}

.p-company-locations-detail-button {
	@include pc {
		margin-top: 10px;
	}

	@include sp {
		margin-top: 18px;
		text-align: center;
	}
}

.p-company-locations-gallery {
	font-size: 0;

	@include pc {
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		padding-top: 10px;
	}

	@include sp {
		margin-top: 25px;
	}
}

.p-company-locations-gallery-image {
	@include pc {
		margin: 0 0 10px 10px;
	}

	@include sp {
		text-align: center;

		& + & {
			margin-top: 10px;
		}

		img {
			width: 100%;
		}
	}
}

.p-company-about {
	@include pc {
		padding-bottom: 100px;
	}
	@include sp {
		padding-bottom: 32px;
	}
}

.p-company-about-map {
	@include pc {
		align-items: baseline;
		display: flex;
	}

	& + & {
		border-top: 1px solid $base-border;

		@include pc {
			margin-top: 20px;
			padding-top: 18px;
		}

		@include sp {
			margin-top: 20px;
			padding-top: 18px;
		}
	}
}

.p-company-about-map-label {
	align-items: center;
	border: 1px solid $base-black;
	display: inline-flex;
	justify-content: center;
	font-size: 12px;
	line-height: 1.5;
	width: 80px;
}

.p-company-about-map-content {
	@include pc {
		margin-left: 20px;
		flex: 1;
	}

	@include sp {
		margin-top: 10px;
	}
}

.p-company-about-map-item {
	& + & {
		border-top: 1px solid $base-border;

		@include pc {
			margin-top: 14px;
			padding-top: 15px;
		}

		@include sp {
			margin-top: 14px;
			padding-top: 15px;
		}
	}
}

.p-company-about-map-text {
	@include pc {
		display: flex;
		line-height: 2.25;
	}
}

.p-company-about-map-point {
	@include pc {
		min-width: 140px;
	}

	@include sp {
		display: block;
		padding: 10px 0;
	}
}

.p-company-about-map-frame {
	@include sp {
		height: 0;
		left: 0;
		margin-top: 20px;
		padding: 42.6785% 0 0;
		position: relative;
		top: 0;
		width: 100%;

		iframe {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.p-company-about-dl {
	@include pc {
		line-height: 2.3;
	}

	& + & {
		@include pc {
			margin-top: 20px;
		}

		@include sp {
			margin-top: 20px;
		}
	}
}

.p-company-about-dl-dt {
	color: $base-blue;

	@include pc {
		font-size: 12px;
	}

	@include sp {
		font-size: 13px;
	}
}

.p-company-about-dl-dd {
	@include pc {
		font-size: 14px;
	}

	@include sp {
		font-size: 13px;
		margin-top: 7px;
	}
}

.p-comapny-about-button {
	margin: 20px auto 0;
	max-width: 820px;
	padding: 0 20px;

	@include sp {
		margin-top: 38px;
	}
}

.p-comapny-about-button-inner {
	@include pc {
		width: 270px;
	}
}
