.p-introduction {
	margin: 0 auto;

	@include pc {
		padding: 30px 0 42px;
	}

	@include sp {
		padding: 15px 0 10px;
	}
}

.p-introduction-content {
	@include pc {
		margin-top: 65px;
	}

	@include sp {
		margin-top: 45px;
	}
}

.p-introduction-lead {
	margin: 0 auto;
	max-width: 820px;
	padding: 0 20px;
}

.p-introduction-slide {
	display: flex;
	flex-wrap: wrap;
	font-size: 0;

	@include pc {
		margin-top: 60px;
	}

	@include sp {
		margin-top: 20px;
	}
}

.p-introduction-slide-item {
	@include pc {
		flex: 1;
	}

	@include sp {
		width: 50%;
	}

	&.is-large {
		@include pc {
			flex: 2;
		}

		@include sp {
			width: 100%;
		}
	}

	img {
		width: 100%;
	}
}

.p-introduction-interview {
	@include pc {
		margin: 90px auto 60px;
		max-width: 820px;
		padding: 0 20px;
	}

	@include sp {
		margin: 40px auto 45px;
	}
}

.p-introduction-interview-headline {
	@include sp {
		padding: 0 20px 20px;
	}
}

.p-introduction-interview-list {
	@include pc {
		margin-top: 45px;
	}
}

.p-introduction-interview-item {
	@include pc {
		display: flex;
		justify-content: space-between;

		&:nth-of-type(even) {
			flex-direction: row-reverse;
		}
	}

	&:nth-of-type(n + 2) {
		@include pc {
			margin-top: 54px;
		}

		@include sp {
			margin-top: 45px;
		}
	}
}

.p-introduction-interview-image {
	display: flex;
	position: relative;

	@include pc {
		width: 360px;
	}
}

.p-introduction-interview-image-title {
	background: $base-blue;
	bottom: 0;
	color: $base-white;
	font-weight: bold;
	left: 0;
	letter-spacing: 0.1em;
	padding: 0.25em;
	position: absolute;
	text-align: center;
	width: 100%;

	@include pc {
		font-size: 14px;
	}

	@include sp {
		font-size: 12px;
	}
}

.p-introduction-interview-text {
	@include pc {
		font-size: 14px;
		line-height: 2.25;
		width: 390px;
	}

	@include sp {
		font-size: 13px;
		line-height: 1.7;
		padding: 20px 20px 0;
	}
}

.p-introduction-button {
	display: flex;
	justify-content: center;
	margin: 0 auto;

	@include pc {
		width: 310px;
	}

	@include sp {
		padding: 0 10px;
	}
}
