.p-privacy {
	margin: 0 auto;
	max-width: 820px;
	padding: 0 20px;

	@include pc {
		padding-top: 100px;
	}

	@include sp {
		padding-top: 50px;
	}
}

.p-privacy-section {
	@include pc {
		margin-bottom: 45px;
	}
	@include sp {
		margin-bottom: 35px;
	}
}

.p-privacy-content {
	@include pc {
		padding: 22px 20px 20px;
	}

	@include sp {
		padding-top: 20px;
	}

	& > *:not(:last-child) {
		@include pc {
			margin-bottom: 20px;
		}

		@include sp {
			margin-bottom: 20px;
		}
	}
}

.p-privacy-title {
	align-items: center;
	border: 1px solid $base-border;
	color: $p-privacy-title;
	display: flex;
	font-size: 18px;
	letter-spacing: 0.05em;
	min-height: 40px;
	padding: 0 20px;
}

.p-privacy-text {
	@include pc {
		font-size: 14px;
		line-height: 2.1;
	}

	@include sp {
		font-size: 13px;
		line-height: 1.8;
	}
}
