.js-recruit {
	&.is-fixed {
		.p-recruit-nav {
			position: fixed;
			top: 0;
			z-index: 1;
		}
	}
}

.p-recruit {
	@include pc {
		padding-bottom: 130px;
	}
}

.p-recruit-nav {
	align-items: center;
	background: $base-white;
	display: flex;
	width: 100%;

	@include pc {
		height: 83px;
		justify-content: center;
	}

	@include sp {
		min-height: 198px;
		flex-direction: column;
		padding: 25px 0;
	}
}

.p-recruit-nav-item {
	&:nth-of-type(n + 2) {
		@include pc {
			margin-left: 166px;
		}

		@include sp {
			border-top: 1px solid $p-recruit-nav-item-border;
			padding-top: 18px;
			margin-top: 20px;
		}
	}

	@include sp {
		width: 100%;
	}
}

.p-recruit-section {
	&:nth-of-type(n + 2) {
		@include pc {
			margin-top: 87px;
		}

		@include sp {
			margin-top: 44px;
		}
	}
}

.p-recruit-block {
	&:nth-of-type(n + 2) {
		@include pc {
			margin-top: 70px;
		}

		@include sp {
			margin-top: 44px;
		}
	}
}

.p-recruit-button {
	display: flex;
	justify-content: center;

	@include pc {
		margin-top: 32px;
	}

	@include sp {
		margin: 24px auto 0;
		width: 260px;
	}
}

.p-recruit-title {
	@include pc {
		margin-bottom: 51px;
	}

	@include sp {
		margin-bottom: 20px;
	}
}

.p-recruit-headline {
	@include pc {
		margin: 0 auto;
		width: 780px;
	}

	@include sp {
		padding: 0 20px;
	}
}
