.p-top-nav {
    @include pc {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
		max-width: 1190px;
        width: 100%;
        column-gap: 25px;
        flex-wrap: wrap;
    }

    @include sp {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        justify-content: center;
        margin-top: 52px;
        row-gap: 20px;
    }
}

.p-top-nav__item {

    @include pc {
        flex: 1 0 calc((100% - 50px)/3);
        margin-top: 35px;
    }
}